In [1]:
from MyCreds.mycreds import IowaData
import pandas as pd
from sodapy import Socrata # < Unmaintained as of August 31, 2022, just in time for this project
import numpy as np
import h3

KEY = IowaData.api_key
SECRET = IowaData.api_key_secret
TOKEN = IowaData.app_token

liquor_sales_data_id = "m3tr-qhgy"

# Iowa Liquor Sales

In [3]:
#!/usr/bin/env python
# Reference: https://dev.socrata.com/foundry/data.iowa.gov/m3tr-qhgy

# make sure to install these packages before running:
# pip install sodapy


# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.iowa.gov", app_token=TOKEN)

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get(liquor_sales_data_id, limit=2000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)
results_df

,invoice_line_no,date,store,name,address,city,zipcode,store_location,county_number,county,...,state_bottle_retail,sale_bottles,sale_dollars,sale_liters,sale_gallons,:@computed_region_3r5t_5243,:@computed_region_wnea_7qqw,:@computed_region_i9mz_6gmt,:@computed_region_uhgg_e8y2,:@computed_region_e7ym_nrbf
0,S16795600005,2014-01-13T00:00:00.000,4148,Fareway Stores #479 / Independence,1400 3RD AVE SE,INDEPENDENCE,50644,"{'type': 'Point', 'coordinates': [-91.890284, ...",10,Buchanan,...,15.73,12,188.76,9.00,2.38,270,8,95,34,1369
1,S22604500148,2014-11-24T00:00:00.000,2500,Hy-Vee Food Store #1 / Ames,3800 W LINCOLN WAY,AMES,50010,NaN,85,Story,...,8.15,4,32.60,3.00,0.79,NaN,NaN,NaN,NaN,NaN
2,S08157200157,2012-10-08T00:00:00.000,3692,Wilkie Liquors,724 1ST ST E,MT VERNON,52314,"{'type': 'Point', 'coordinates': [-91.960918, ...",57,Linn,...,9.07,3,27.21,2.25,0.59,504,18,256,46,1367
3,S05854600010,2012-06-04T00:00:00.000,3670,Wal-Mart 2827 / Coralville,2801 COMMERCE DR,CORALVILLE,52241,"{'type': 'Point', 'coordinates': [-91.610774, ...",52,Johnson,...,17.52,6,105.12,4.50,1.19,528,22,287,61,1792
4,S26728800002,2015-07-14T00:00:00.000,5023,Hawkeye Convenience Stores / 16th Av,250 16th AVE SW,CEDAR RAPIDS,52404,"{'type': 'Point', 'coordinates': [-91.667665, ...",57,Linn,...,1.70,48,81.60,9.60,2.54,793,18,264,45,287
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,S25038600201,2015-04-13T00:00:00.000,2590,Hy-Vee Food Store #5 / Cedar Rapids,3235 OAKLAND ROAD NE,CEDAR RAPIDS,52402,"{'type': 'Point', 'coordinates': [-91.658105, ...",57,Linn,...,11.25,1,11.25,0.38,0.10,196,18,264,45,287
1996,S27985200022,2015-09-22T00:00:00.000,5170,Casey's General Store #1414 / State,911 3RD AVE SW,STATE CENTER,50247,"{'type': 'Point', 'coordinates': [-93.165186, ...",64,Marshall,...,7.26,3,21.78,2.25,0.59,88,21,278,54,1831
1997,S16159400007,2013-12-09T00:00:00.000,3728,Brewski's Beverage,726 CREEK TOP,COUNCIL BLUFFS,51503,"{'type': 'Point', 'coordinates': [-95.854809, ...",78,Pottawattamie,...,10.62,36,382.32,36.00,9.51,817,40,437,69,1879
1998,S07445800007,2012-08-30T00:00:00.000,3731,Wal-Mart 1241 / Davenport,5811 ELMORE AVE,DAVENPORT,52807,"{'type': 'Point', 'coordinates': [-90.525525, ...",82,Scott,...,15.33,6,91.98,10.50,2.77,227,56,83,67,1881
1999,S05085600053,2012-04-17T00:00:00.000,2413,Beecher Beverage,1691 ASBURY ROAD,DUBUQUE,52001,"{'type': 'Point', 'coordinates': [-90.696886, ...",31,Dubuque,...,22.22,12,266.64,12.00,3.17,768,55,59,31,1780

# MetaData

Gathering matadata for data descriptions and data types.

In [4]:
metadata = client.get_metadata(liquor_sales_data_id)
metadata

{'id': 'm3tr-qhgy',
 'name': 'Iowa Liquor Sales',
 'assetType': 'dataset',
 'attribution': 'Iowa Department of Commerce, Alcoholic Beverages Division',
 'averageRating': 0,
 'category': 'Sales & Distribution',
 'createdAt': 1415384381,
 'description': 'This dataset contains the spirits purchase information of Iowa Class “E” liquor licensees by product and date of purchase from January 1, 2012 to current.  The dataset can be used to analyze total spirits sales in Iowa of individual products at the store level.\r\n\r\nClass E liquor license, for grocery stores, liquor stores, convenience stores, etc., allows commercial establishments to sell liquor for off-premises consumption in original unopened containers.',
 'displayType': 'table',
 'domainCName': 'data.iowa.gov',
 'downloadCount': 11240,
 'hideFromCatalog': False,
 'hideFromDataJson': False,
 'indexUpdatedAt': 1564675701,
 'licenseId': 'CC0_10',
 'newBackend': True,
 'numberOfComments': 8,
 'oid': 32061986,
 'provenance': 'official',
 'publicationAppendEnabled': False,
 'publicationDate': 1564721008,
 'publicationGroup': 1864764,
 'publicationStage': 'published',
 'rowClass': '',
 'rowIdentifierColumnId': 421004091,
 'rowsUpdatedAt': 1662069718,
 'rowsUpdatedBy': '685n-hc2b',
 'tableId': 16403480,
 'totalTimesRated': 0,
 'viewCount': 73632,
 'viewLastModified': 1662069662,
 'viewType': 'tabular',
 'approvals': [{'reviewedAt': 1451506389,
   'reviewedAutomatically': True,
   'state': 'approved',
   'submissionId': 1020570,
   'submissionObject': 'public_audience_request',
   'submissionOutcome': 'change_audience',
   'submittedAt': 1451506389,
   'workflowId': 1962,
   'submissionDetails': {'permissionType': 'READ'},
   'submissionOutcomeApplication': {'failureCount': 0, 'status': 'success'},
   'submitter': {'id': 'mabe-sef7',
    'displayName': 'Alcoholic Beverages Division (Commerce)'}}],
 'clientContext': {'clientContextVariables': [], 'inheritedVariables': {}},
 'columns': [{'id': 421004091,
   'name': 'Invoice/Item Number',
   'dataTypeName': 'text',
   'description': 'Concatenated invoice and line number associated with the liquor order.  This provides a unique identifier for the individual liquor products included in the store order',
   'fieldName': 'invoice_line_no',
   'position': 1,
   'renderTypeName': 'text',
   'tableColumnId': 33137142,
   'width': 127,
   'cachedContents': {'largest': 'S444400083',
    'non_null': '24627122',
    'null': '0',
    'top': [{'item': '306831300002', 'count': '1'},
     {'item': '306831300003', 'count': '1'},
     {'item': '306831300004', 'count': '1'},
     {'item': '306831300005', 'count': '1'},
     {'item': '306831300006', 'count': '1'},
     {'item': '306831300007', 'count': '1'},
     {'item': '306831300008', 'count': '1'},
     {'item': '306831300009', 'count': '1'},
     {'item': '306831300010', 'count': '1'},
     {'item': '306831300011', 'count': '1'},
     {'item': '306831300012', 'count': '1'},
     {'item': '306831300013', 'count': '1'},
     {'item': '306831300014', 'count': '1'},
     {'item': '306831300015', 'count': '1'},
     {'item': '306831300016', 'count': '1'},
     {'item': '306831300017', 'count': '1'},
     {'item': '306831300018', 'count': '1'},
     {'item': '306831300019', 'count': '1'},
     {'item': '306831300020', 'count': '1'},
     {'item': '306831300021', 'count': '1'}],
    'not_null': '17300913',
    'smallest': '306831300001',
    'count': '24627122',
    'cardinality': '24627122'},
   'format': {'align': 'left'}},
  {'id': 421004092,
   'name': 'Date',
   'dataTypeName': 'calendar_date',
   'description': 'Date of order',
   'fieldName': 'date',
   'position': 2,
   'renderTypeName': 'calendar_date',
   'tableColumnId': 22767599,
   'width': 100,
   'cachedContents': {'largest': '2022-08-31T00:00:00.000',
    'non_null': '24627122',
    'null': '0',
    'top': [{'item': '2020-12-22T00:00:00.000', 'count': '18002'},
     {'item': '2020-12-29T00:00:00.000', 'count': '17722'},
     {'item': '2017-12-22T00:00:00.000', 'count': '16674'},
     {'item': '2020-05-29T00:00:00.000', 'count': '16650'},
     {'item': '2019-07-05T00:00:00.000', 'count': '16173'},
     {'item': '2014-12-29T00:00:00.000', 'count': '15996'},
     {'item': '2015-12-01T00:00:00.000', 'count': '15588'},
     {'item': '2018-12-21T00:00:00.000', 'count': '15578'},
     {'item': '2019-12-20T00:00:00.000', 'count': '15248'},
     {'item': '2016-06-28T00:00:00.000', 'count': '15107'},
     {'item': '2014-12-17T00:00:00.000', 'count': '14963'},
     {'item': '2013-06-25T00:00:00.000', 'count': '14885'},
     {'item': '2013-12-18T00:00:00.000', 'count': '14871'},
     {'item': '2022-08-30T00:00:00.000', 'count': '14702'},
     {'item': '2015-11-30T00:00:00.000', 'count': '14686'},
     {'item': '2015-12-28T00:00:00.000', 'count': '14603'},
     {'item': '2014-12-03T00:00:00.000', 'count': '14585'},
     {'item': '2018-05-16T00:00:00.000', 'count': '14531'},
     {'item': '2019-09-05T00:00:00.000', 'count': '14481'},
     {'item': '2019-05-31T00:00:00.000', 'count': '14444'}],
    'not_null': '17300913',
    'smallest': '2012-01-03T00:00:00.000',
    'count': '24627122',
    'cardinality': '2706'},
   'format': {'view': 'date', 'align': 'left'}},
  {'id': 421004093,
   'name': 'Store Number',
   'dataTypeName': 'text',
   'description': 'Unique number assigned to the store who ordered the liquor.',
   'fieldName': 'store',
   'position': 3,
   'renderTypeName': 'text',
   'tableColumnId': 22767638,
   'width': 100,
   'cachedContents': {'largest': '9946',
    'non_null': '24627122',
    'null': '0',
    'top': [{'item': '2633', 'count': '204248'},
     {'item': '4829', 'count': '172102'},
     {'item': '2190', 'count': '162003'},
     {'item': '2512', 'count': '138519'},
     {'item': '2572', 'count': '129817'},
     {'item': '2603', 'count': '127822'},
     {'item': '2614', 'count': '123881'},
     {'item': '2515', 'count': '123824'},
     {'item': '2647', 'count': '119363'},
     {'item': '2648', 'count': '118802'},
     {'item': '2501', 'count': '113954'},
     {'item': '2500', 'count': '109616'},
     {'item': '2629', 'count': '109254'},
     {'item': '2616', 'count': '108836'},
     {'item': '2590', 'count': '107835'},
     {'item': '3773', 'count': '106885'},
     {'item': '2565', 'count': '106851'},
     {'item': '4129', 'count': '106196'},
     {'item': '2619', 'count': '106145'},
     {'item': '2506', 'count': '104897'}],
    'not_null': '17300913',
    'smallest': '010004',
    'count': '24627122',
    'cardinality': '2796'},
   'format': {'align': 'left'}},
  {'id': 421004094,
   'name': 'Store Name',
   'dataTypeName': 'text',
   'description': 'Name of store who ordered the liquor.',
   'fieldName': 'name',
   'position': 4,
   'renderTypeName': 'text',
   'tableColumnId': 22767676,
   'width': 161,
   'cachedContents': {'largest': "Z's Quickbreak",
    'non_null': '24627122',
    'null': '0',
    'top': [{'item': 'Hy-Vee #3 / BDI / Des Moines', 'count': '204248'},
     {'item': 'Central City 2', 'count': '172138'},
     {'item': 'Central City Liquor, Inc.', 'count': '161967'},
     {'item': 'Hy-Vee Wine and Spirits / Iowa City', 'count': '138519'},
     {'item': 'Hy-Vee Food Store / Cedar Falls', 'count': '129817'},
     {'item': 'Hy-Vee Wine and Spirits / Bettendorf', 'count': '127822'},
     {'item': 'Hy-Vee Food Store #1 / Mason City', 'count': '123824'},
     {'item': 'Hy-Vee #7 / Cedar Rapids', 'count': '118388'},
     {'item': 'Hy-Vee Food Store #1 / Ames', 'count': '109616'},
     {'item': 'Hy-Vee Food and Drug / Clinton', 'count': '108836'},
     {'item': 'Hy-Vee Food Store #5 / Cedar Rapids', 'count': '107854'},
     {'item': 'Benz Distributing', 'count': '106921'},
     {'item': 'Cyclone Liquors', 'count': '106196'},
     {'item': 'Hy-Vee Wine and Spirits / WDM', 'count': '106145'},
     {'item': 'Hy-Vee #1044 / Burlington', 'count': '104897'},
     {'item': 'Hy-Vee #4 / WDM', 'count': '102304'},
     {'item': 'Hy-Vee Food Store / Muscatine', 'count': '100038'},
     {'item': 'Hy-Vee Food Store #3 / Cedar Rapids', 'count': '97591'},
     {'item': 'Hy-Vee Food Store / Coralville', 'count': '95739'},
     {'item': 'Hy-Vee Food Store / Fleur / DSM', 'count': '94257'}],
    'not_null': '17300913',
    'smallest': '10th Hole Inn & Suite / Gift Shop',
    'count': '24627122',
    'cardinality': '2960'},
   'format': {'align': 'left'}},
  {'id': 421004095,
   'name': 'Address',
   'dataTypeName': 'text',
   'description': 'Address of store who ordered the liquor.',
   'fieldName': 'address',
   'position': 5,
   'renderTypeName': 'text',
   'tableColumnId': 22767693,
   'width': 219,
   'cachedContents': {'largest': 'PO BOX 261  310 W DILLON',
    'non_null': '24545494',
    'null': '81628',
    'top': [{'item': '3221 SE 14th St', 'count': '167210'},
     {'item': '1460 2ND AVE', 'count': '160946'},
     {'item': '3221 SE 14TH ST', 'count': '110543'},
     {'item': '1501 Michigan Ave', 'count': '109904'},
     {'item': '6301 University', 'count': '94941'},
     {'item': '507 W 19th St', 'count': '83043'},
     {'item': '2890 Devils Glen Road', 'count': '81883'},
     {'item': '2004 8th  St', 'count': '79329'},
     {'item': '5050 Edgewood Rd', 'count': '75632'},
     {'item': '555 S 51st St', 'count': '73725'},
     {'item': '2400 4th St SW', 'count': '72964'},
     {'item': '1720 Waterfront Dr', 'count': '72214'},
     {'item': '2510 SW State St', 'count': '70811'},
     {'item': '501 7th Ave SE', 'count': '70296'},
     {'item': '626 Lincoln Way', 'count': '69864'},
     {'item': '5925 University Ave', 'count': '69192'},
     {'item': '2411 S 24TH ST #1', 'count': '67575'},
     {'item': '1823 E Kimberly Rd', 'count': '67408'},
     {'item': '1725  74th St', 'count': '66940'},
     {'item': '3235 Oakland Road NE', 'count': '66840'}],
    'not_null': '17221572',
    'smallest': '1000 N Jefferson St',
    'count': '24627122',
    'cardinality': '4121'},
   'format': {'align': 'left'}},
  {'id': 421004096,
   'name': 'City',
   'dataTypeName': 'text',
   'description': 'City where the store who ordered the liquor is located',
   'fieldName': 'city',
   'position': 6,
   'renderTypeName': 'text',
   'tableColumnId': 22767699,
   'width': 100,
   'cachedContents': {'largest': 'ZWINGLE',
    'non_null': '24545495',
    'null': '81627',
    'top': [{'item': 'Des Moines', 'count': '1305003'},
     {'item': 'Cedar Rapids', 'count': '995571'},
     {'item': 'DES MOINES', 'count': '811086'},
     {'item': 'Davenport', 'count': '647442'},
     {'item': 'CEDAR RAPIDS', 'count': '597416'},
     {'item': 'Waterloo', 'count': '484391'},
     {'item': 'Sioux City', 'count': '461832'},
     {'item': 'West Des Moines', 'count': '459896'},
     {'item': 'Council Bluffs', 'count': '453685'},
     {'item': 'DAVENPORT', 'count': '411104'},
     {'item': 'Ames', 'count': '408013'},
     {'item': 'Iowa City', 'count': '403418'},
     {'item': 'Dubuque', 'count': '394751'},
     {'item': 'Cedar Falls', 'count': '333321'},
     {'item': 'Ankeny', 'count': '317951'},
     {'item': 'WATERLOO', 'count': '289538'},
     {'item': 'IOWA CITY', 'count': '286109'},
     {'item': 'COUNCIL BLUFFS', 'count': '265827'},
     {'item': 'SIOUX CITY', 'count': '248627'},
     {'item': 'AMES', 'count': '247979'}],
    'not_null': '17221573',
    'smallest': 'Ackley',
    'count': '24627122',
    'cardinality': '859'},
   'format': {'align': 'left'}},
  {'id': 421004097,
   'name': 'Zip Code',
   'dataTypeName': 'text',
   'description': 'Zip code where the store who ordered the liquor is located',
   'fieldName': 'zipcode',
   'position': 7,
   'renderTypeName': 'text',
   'tableColumnId': 22767784,
   'width': 100,
   'cachedContents': {'largest': '80904',
    'non_null': '24545450',
    'null': '81672',
    'top': [{'item': '50010', 'count': '594403'},
     {'item': '52402', 'count': '567274'},
     {'item': '52240', 'count': '532053'},
     {'item': '50613', 'count': '470496'},
     {'item': '50317', 'count': '436334'},
     {'item': '51501', 'count': '433133'},
     {'item': '52001', 'count': '408094'},
     {'item': '50265', 'count': '402890'},
     {'item': '50314', 'count': '399986'},
     {'item': '52404', 'count': '386415'},
     {'item': '52241', 'count': '364904'},
     {'item': '50401', 'count': '346668'},
     {'item': '52807', 'count': '327447'},
     {'item': '52722', 'count': '305506'},
     {'item': '52761', 'count': '302390'},
     {'item': '50702', 'count': '301248'},
     {'item': '50266', 'count': '301246'},
     {'item': '52804', 'count': '298276'},
     {'item': '51503', 'count': '283541'},
     {'item': '50322', 'count': '283140'}],
    'not_null': '17221528',
    'smallest': '50002',
    'count': '24627122',
    'cardinality': '509'},
   'format': {'align': 'left'}},
  {'id': 421004098,
   'name': 'Store Location',
   'dataTypeName': 'point',
   'description': 'Location of store who ordered the liquor.  The Address, City, State and Zip Code are geocoded to provide geographic coordinates.  Accuracy of geocoding is dependent on how well the address is interpreted and the completeness of the reference data used.',
   'fieldName': 'store_location',
   'position': 8,
   'renderTypeName': 'point',
   'tableColumnId': 22767821,
   'width': 100,
   'cachedContents': {'non_null': '22198643',
    'null': '2428479',
    'top': [{'item': {'coordinates': [-93.596754, 41.554101], 'type': 'Point'},
      'count': '189532'},
     {'item': {'coordinates': [-93.613739, 41.60572], 'type': 'Point'},
      'count': '155441'},
     {'item': {'coordinates': [-93.619787, 41.60566], 'type': 'Point'},
      'count': '151647'},
     {'item': {'coordinates': [-91.53046300000001, 41.642764],
       'type': 'Point'},
      'count': '131200'},
     {'item': {'coordinates': [-92.435236, 42.512789], 'type': 'Point'},
      'count': '129813'},
     {'item': {'coordinates': [-90.548919, 41.55678100000001],
       'type': 'Point'},
      'count': '117924'},
     {'item': {'coordinates': [-90.483701, 41.552338], 'type': 'Point'},
      'count': '117892'},
     {'item': {'coordinates': [-91.701581, 42.030129], 'type': 'Point'},
      'count': '117306'},
     {'item': {'coordinates': [-93.773557, 41.561197], 'type': 'Point'},
      'count': '109428'},
     {'item': {'coordinates': [-91.659875, 41.97574], 'type': 'Point'},
      'count': '106883'},
     {'item': {'coordinates': [-95.14506, 43.145897], 'type': 'Point'},
      'count': '106851'},
     {'item': {'coordinates': [-93.808855, 41.598515], 'type': 'Point'},
      'count': '106141'},
     {'item': {'coordinates': [-91.136655, 40.814666], 'type': 'Point'},
      'count': '104895'},
     {'item': {'coordinates': [-90.193204, 41.836268000000004],
       'type': 'Point'},
      'count': '102067'},
     {'item': {'coordinates': [-95.825137, 41.242732], 'type': 'Point'},
      'count': '101060'},
     {'item': {'coordinates': [-91.658105, 42.010971], 'type': 'Point'},
      'count': '99990'},
     {'item': {'coordinates': [-93.618911, 42.022854], 'type': 'Point'},
      'count': '99206'},
     {'item': {'coordinates': [-92.429331, 42.512766], 'type': 'Point'},
      'count': '96441'},
     {'item': {'coordinates': [-93.619455, 42.022848], 'type': 'Point'},
      'count': '95784'},
     {'item': {'coordinates': [-91.035138, 41.451349], 'type': 'Point'},
      'count': '92585'}],
    'not_null': '15624172',
    'count': '24627122',
    'cardinality': '3197'},
   'format': {'view': 'coords', 'align': 'left'}},
  {'id': 421004099,
   'name': 'County Number',
   'dataTypeName': 'text',
   'description': 'Iowa county number for the county where store who ordered the liquor is located\n',
   'fieldName': 'county_number',
   'position': 9,
   'renderTypeName': 'text',
   'tableColumnId': 22767822,
   'width': 113,
   'cachedContents': {'largest': '99',
    'non_null': '24132843',
    'null': '494279',
    'top': [{'item': '77', 'count': '4459618'},
     {'item': '57', 'count': '2013416'},
     {'item': '82', 'count': '1472224'},
     {'item': '52', 'count': '1210494'},
     {'item': '7', 'count': '825879'},
     {'item': '78', 'count': '796208'},
     {'item': '85', 'count': '771807'},
     {'item': '97', 'count': '755174'},
     {'item': '31', 'count': '701537'},
     {'item': '17', 'count': '533730'},
     {'item': '07', 'count': '527424'},
     {'item': '29', 'count': '362658'},
     {'item': '70', 'count': '356572'},
     {'item': '23', 'count': '331189'},
     {'item': '30', 'count': '308251'},
     {'item': '56', 'count': '283665'},
     {'item': '25', 'count': '279421'},
     {'item': '90', 'count': '278134'},
     {'item': '64', 'count': '277158'},
     {'item': '94', 'count': '274118'}],
    'not_null': '17144768',
    'smallest': '01',
    'count': '24627122',
    'cardinality': '108'},
   'format': {'align': 'left'}},
  {'id': 421004100,
   'name': 'County',
   'dataTypeName': 'text',
   'description': 'County where the store who ordered the liquor is located\n',
   'fieldName': 'county',
   'position': 10,
   'renderTypeName': 'text',
   'tableColumnId': 22767827,
   'width': 100,
   'cachedContents': {'largest': 'WRIGHT',
    'non_null': '24468692',
    'null': '158430',
    'top': [{'item': 'POLK', 'count': '2510302'},
     {'item': 'Polk', 'count': '2013897'},
     {'item': 'LINN', 'count': '1197693'},
     {'item': 'SCOTT', 'count': '867535'},
     {'item': 'Linn', 'count': '843319'},
     {'item': 'BLACK HAWK', 'count': '818239'},
     {'item': 'JOHNSON', 'count': '736257'},
     {'item': 'Scott', 'count': '624363'},
     {'item': 'Black Hawk', 'count': '552997'},
     {'item': 'Johnson', 'count': '490358'},
     {'item': 'POTTAWATTA', 'count': '478726'},
     {'item': 'WOODBURY', 'count': '477006'},
     {'item': 'STORY', 'count': '460865'},
     {'item': 'DUBUQUE', 'count': '423625'},
     {'item': 'Pottawattamie', 'count': '325374'},
     {'item': 'Story', 'count': '320334'},
     {'item': 'Woodbury', 'count': '288241'},
     {'item': 'Dubuque', 'count': '286739'},
     {'item': 'CERRO GORD', 'count': '261396'},
     {'item': 'Cerro Gordo', 'count': '228579'}],
    'not_null': '17144770',
    'smallest': 'Adair',
    'count': '24627122',
    'cardinality': '201'},
   'format': {'align': 'left'}},
  {'id': 421004101,
   'name': 'Category',
   'dataTypeName': 'text',
   'description': 'Category code associated with the liquor ordered',
   'fieldName': 'category',
   'position': 11,
   'renderTypeName': 'text',
   'tableColumnId': 22767828,
   'width': 100,
   'cachedContents': {'largest': '1901200',
    'non_null': '24610148',
    'null': '16974',
    'top': [{'item': '1012100', 'count': '2357743'},
     {'item': '1031100', 'count': '2302944'},
     {'item': '1011200', 'count': '1521585'},
     {'item': '1031080', 'count': '1265974'},
     {'item': '1031200', 'count': '1225950'},
     {'item': '1081600', 'count': '1082077'},
     {'item': '1011100', 'count': '1062757'},
     {'item': '1022100', 'count': '753582'},
     {'item': '1062200', 'count': '735775'},
     {'item': '1071100', 'count': '701614'},
     {'item': '1062400', 'count': '694769'},
     {'item': '1032200', 'count': '536933'},
     {'item': '1041100', 'count': '534880'},
     {'item': '1081200', 'count': '533933'},
     {'item': '1062310', 'count': '530323'},
     {'item': '1081400', 'count': '526360'},
     {'item': '1051100', 'count': '487357'},
     {'item': '1032100', 'count': '481586'},
     {'item': '1081300', 'count': '471173'},
     {'item': '1022200', 'count': '445186'}],
    'not_null': '17285206',
    'smallest': '1011000',
    'count': '24627122',
    'cardinality': '114'},
   'format': {'align': 'left'}},
  {'id': 421004102,
   'name': 'Category Name',
   'dataTypeName': 'text',
   'description': 'Category of the liquor ordered.',
   'fieldName': 'category_name',
   'position': 12,
   'renderTypeName': 'text',
   'tableColumnId': 22767829,
   'width': 185,
   'cachedContents': {'largest': 'White Rum',

In [5]:
dataset_metadata = pd.DataFrame(metadata['columns'])[['name', 'dataTypeName', 'description', 'fieldName']]
dataset_metadata

,name,dataTypeName,description,fieldName
0,Invoice/Item Number,text,Concatenated invoice and line number associate...,invoice_line_no
1,Date,calendar_date,Date of order,date
2,Store Number,text,Unique number assigned to the store who ordere...,store
3,Store Name,text,Name of store who ordered the liquor.,name
4,Address,text,Address of store who ordered the liquor.,address
5,City,text,City where the store who ordered the liquor is...,city
6,Zip Code,text,Zip code where the store who ordered the liquo...,zipcode
7,Store Location,point,Location of store who ordered the liquor. The...,store_location
8,County Number,text,Iowa county number for the county where store ...,county_number
9,County,text,County where the store who ordered the liquor ...,county
10,Category,text,Category code associated with the liquor ordered,category
11,Category Name,text,Category of the liquor ordered.,category_name
12,Vendor Number,text,The vendor number of the company for the brand...,vendor_no
13,Vendor Name,text,The vendor name of the company for the brand o...,vendor_name
14,Item Number,text,Item number for the individual liquor product ...,itemno
15,Item Description,text,Description of the individual liquor product o...,im_desc
16,Pack,number,The number of bottles in a case for the liquor...,pack
17,Bottle Volume (ml),number,Volume of each liquor bottle ordered in millil...,bottle_volume_ml
18,State Bottle Cost,number,The amount that Alcoholic Beverages Division p...,state_bottle_cost
19,State Bottle Retail,number,The amount the store paid for each bottle of l...,state_bottle_retail
20,Bottles Sold,number,The number of bottles of liquor ordered by the...,sale_bottles
21,Sale (Dollars),number,Total cost of liquor order (number of bottles ...,sale_dollars
22,Volume Sold (Liters),number,Total volume of liquor ordered in liters. (i....,sale_liters
23,Volume Sold (Gallons),number,Total volume of liquor ordered in gallons. (i....,sale_gallons
24,Iowa ZIP Code Tabulation Areas,number,NaN,:@computed_region_3r5t_5243
25,Iowa Watershed Sub-Basins (HUC 08),number,NaN,:@computed_region_wnea_7qqw
26,Iowa Watersheds (HUC 10),number,NaN,:@computed_region_i9mz_6gmt
27,County Boundaries of Iowa,number,NaN,:@computed_region_uhgg_e8y2
28,US Counties,number,NaN,:@computed_region_e7ym_nrbf

# Location Data

Gathering Lat and Long from `store_location`

In [62]:
coords = pd.DataFrame(results_df['store_location'].to_dict()).T
coords['coordinates'] = np.where(coords['coordinates'].isnull(), pd.Series([[]]*len(coords)), coords['coordinates']) # fill na with empty list
coords

       type                      coordinates
0     Point          [-92.917588, 43.378704]
1     Point  [-90.659692, 42.06922000000001]
2     Point          [-93.596754, 41.554101]
3     Point          [-93.621824, 41.705188]
4     Point          [-93.771698, 41.688332]
...     ...                              ...
1995  Point           [-93.613739, 41.60572]
1996    NaN                               []
1997  Point  [-93.60054000000001, 41.653137]
1998  Point           [-93.65129, 41.626668]
1999  Point          [-91.401062, 41.918663]

[2000 rows x 2 columns]

In [65]:
pd.DataFrame(coords['coordinates'].to_list(), columns=['long', 'lat'])

           long        lat
0    -92.917588  43.378704
1    -90.659692  42.069220
2    -93.596754  41.554101
3    -93.621824  41.705188
4    -93.771698  41.688332
...         ...        ...
1995 -93.613739  41.605720
1996        NaN        NaN
1997 -93.600540  41.653137
1998 -93.651290  41.626668
1999 -91.401062  41.918663

[2000 rows x 2 columns]

In [70]:
results_df = results_df.merge(pd.DataFrame(coords['coordinates'].to_list(), columns=['long', 'lat']), left_index=True, right_index=True)
results_df

,invoice_line_no,date,store,name,address,city,zipcode,store_location,county_number,county,...,sale_dollars,sale_liters,sale_gallons,:@computed_region_3r5t_5243,:@computed_region_wnea_7qqw,:@computed_region_i9mz_6gmt,:@computed_region_uhgg_e8y2,:@computed_region_e7ym_nrbf,long,lat
0,S32237200017,2016-05-10T00:00:00.000,4533,Casey's General Store #1985 / St. An,110 N Hwy 218,St Ansgar,50472,"{'type': 'Point', 'coordinates': [-92.917588, ...",66,Mitchell,...,377.76,18.00,4.76,461,14,171,10,291,-92.917588,43.378704
1,S32326100005,2016-05-16T00:00:00.000,3612,B and C Liquor / Maquoketa,509 E Platt,Maquoketa,52060,"{'type': 'Point', 'coordinates': [-90.659692, ...",49,Jackson,...,162.00,10.50,2.77,153,7,80,43,1790,-90.659692,42.069220
2,S32350600161,2016-05-16T00:00:00.000,2633,Hy-Vee #3 / BDI / Des Moines,3221 SE 14th St,Des Moines,50320,"{'type': 'Point', 'coordinates': [-93.596754, ...",77,Polk,...,166.56,12.00,3.17,483,29,356,64,1878,-93.596754,41.554101
3,S32246800175,2016-05-10T00:00:00.000,2666,Hy-Vee #2 / Ankeny,2510 SW State St,Ankeny,50023,"{'type': 'Point', 'coordinates': [-93.621824, ...",77,Polk,...,9.00,0.75,0.20,831,25,316,64,1878,-93.621824,41.705188
4,S32349300041,2016-05-17T00:00:00.000,4209,Wal-Mart 5748 / Grimes,2150 East 1st St,Grimes,50111,"{'type': 'Point', 'coordinates': [-93.771698, ...",77,Polk,...,60.12,9.00,2.38,654,25,315,64,1878,-93.771698,41.688332
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,S32344500098,2016-05-16T00:00:00.000,4829,Central City 2,1501 Michigan Ave,Des Moines,50314,"{'type': 'Point', 'coordinates': [-93.613739, ...",77,Polk,...,56.67,2.25,0.59,432,25,316,64,1878,-93.613739,41.605720
1996,S32303000001,2016-05-18T00:00:00.000,2513,Hy-Vee Food Store #2 / Iowa City,812 S 1st Ave,Iowa City,52240,NaN,52,Johnson,...,194.70,7.50,1.98,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997,S32294500007,2016-05-12T00:00:00.000,5169,AV Superstop,"5120, NE 14th Street",Des Moines,50313,"{'type': 'Point', 'coordinates': [-93.60054000...",77,Polk,...,34.44,0.80,0.21,829,25,316,64,1878,-93.600540,41.653137
1998,S32342800026,2016-05-16T00:00:00.000,2627,Hy-Vee Wine and Spirits #1,3424 Martin Luther King Jr Pkw,Des Moines,50310,"{'type': 'Point', 'coordinates': [-93.65129, 4...",77,Polk,...,51.75,1.50,0.40,684,25,316,64,1878,-93.651290,41.626668
1999,S32324600024,2016-05-16T00:00:00.000,4856,Brothers Market / Lisbon,930 Commercial St,Lisbon,52253,"{'type': 'Point', 'coordinates': [-91.401062, ...",57,Linn,...,51.96,3.00,0.79,467,19,268,45,287,-91.401062,41.918663

In [88]:
h3_res = 8
def geo_to_h3(row):
    return h3.geo_to_h3(lat=row.lat,lng=row.long,resolution = h3_res)

In [89]:
results_df['hex_id'] = results_df.apply(geo_to_h3, axis=1)
results_df

,invoice_line_no,date,store,name,address,city,zipcode,store_location,county_number,county,...,sale_liters,sale_gallons,:@computed_region_3r5t_5243,:@computed_region_wnea_7qqw,:@computed_region_i9mz_6gmt,:@computed_region_uhgg_e8y2,:@computed_region_e7ym_nrbf,long,lat,hex_id
0,S32237200017,2016-05-10T00:00:00.000,4533,Casey's General Store #1985 / St. An,110 N Hwy 218,St Ansgar,50472,"{'type': 'Point', 'coordinates': [-92.917588, ...",66,Mitchell,...,18.00,4.76,461,14,171,10,291,-92.917588,43.378704,882628a363fffff
1,S32326100005,2016-05-16T00:00:00.000,3612,B and C Liquor / Maquoketa,509 E Platt,Maquoketa,52060,"{'type': 'Point', 'coordinates': [-90.659692, ...",49,Jackson,...,10.50,2.77,153,7,80,43,1790,-90.659692,42.069220,88267486d3fffff
2,S32350600161,2016-05-16T00:00:00.000,2633,Hy-Vee #3 / BDI / Des Moines,3221 SE 14th St,Des Moines,50320,"{'type': 'Point', 'coordinates': [-93.596754, ...",77,Polk,...,12.00,3.17,483,29,356,64,1878,-93.596754,41.554101,88260d846dfffff
3,S32246800175,2016-05-10T00:00:00.000,2666,Hy-Vee #2 / Ankeny,2510 SW State St,Ankeny,50023,"{'type': 'Point', 'coordinates': [-93.621824, ...",77,Polk,...,0.75,0.20,831,25,316,64,1878,-93.621824,41.705188,88260d9545fffff
4,S32349300041,2016-05-17T00:00:00.000,4209,Wal-Mart 5748 / Grimes,2150 East 1st St,Grimes,50111,"{'type': 'Point', 'coordinates': [-93.771698, ...",77,Polk,...,9.00,2.38,654,25,315,64,1878,-93.771698,41.688332,88260d8301fffff
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,S32344500098,2016-05-16T00:00:00.000,4829,Central City 2,1501 Michigan Ave,Des Moines,50314,"{'type': 'Point', 'coordinates': [-93.613739, ...",77,Polk,...,2.25,0.59,432,25,316,64,1878,-93.613739,41.605720,88260d8745fffff
1996,S32303000001,2016-05-18T00:00:00.000,2513,Hy-Vee Food Store #2 / Iowa City,812 S 1st Ave,Iowa City,52240,NaN,52,Johnson,...,7.50,1.98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1997,S32294500007,2016-05-12T00:00:00.000,5169,AV Superstop,"5120, NE 14th Street",Des Moines,50313,"{'type': 'Point', 'coordinates': [-93.60054000...",77,Polk,...,0.80,0.21,829,25,316,64,1878,-93.600540,41.653137,88260d95edfffff
1998,S32342800026,2016-05-16T00:00:00.000,2627,Hy-Vee Wine and Spirits #1,3424 Martin Luther King Jr Pkw,Des Moines,50310,"{'type': 'Point', 'coordinates': [-93.65129, 4...",77,Polk,...,1.50,0.40,684,25,316,64,1878,-93.651290,41.626668,88260d8287fffff
1999,S32324600024,2016-05-16T00:00:00.000,4856,Brothers Market / Lisbon,930 Commercial St,Lisbon,52253,"{'type': 'Point', 'coordinates': [-91.401062, ...",57,Linn,...,3.00,0.79,467,19,268,45,287,-91.401062,41.918663,88267419d7fffff

In [90]:
results_df['sale_bottles'] = results_df['sale_bottles'].astype(int)

In [91]:
results_df.dropna()[['sale_bottles', 'hex_id']].groupby('hex_id').sum().reset_index().to_csv('initial_hex.csv', index=False)

              hex_id sale_bottles
0    8c26010250441ff        12126
1    8c26010de4d45ff           10
2    8c2601156c5a9ff         6123
3    8c26015656863ff            3
4    8c260170cb53bff           12
..               ...          ...
601  8c275b7882e23ff          446
602  8c275b7891513ff         1262
603  8c275b78b7a1dff     12121212
604  8c275b78cae61ff           12
605  8c275b7ab2401ff          246

[606 rows x 2 columns]

In [85]:
results_df.dtypes

invoice_line_no                 object
date                            object
store                           object
name                            object
address                         object
city                            object
zipcode                         object
store_location                  object
county_number                   object
county                          object
category                        object
category_name                   object
vendor_no                       object
vendor_name                     object
itemno                          object
im_desc                         object
pack                            object
bottle_volume_ml                object
state_bottle_cost               object
state_bottle_retail             object
sale_bottles                    object
sale_dollars                    object
sale_liters                     object
sale_gallons                    object
:@computed_region_3r5t_5243     object
:@computed_region_wnea_7qqw     object
:@computed_region_i9mz_6gmt     object
:@computed_region_uhgg_e8y2     object
:@computed_region_e7ym_nrbf     object
long                           float64
lat                            float64
hex_id                          object
dtype: object

In [95]:
results_df['date'] = pd.to_datetime(results_df['date'])

In [96]:
results_df['date'].min()

Timestamp('2016-05-10 00:00:00')

In [97]:
results_df['date'].max()

Timestamp('2016-07-20 00:00:00')

In [94]:
results_df.dtypes

invoice_line_no                 object
date                            object
store                           object
name                            object
address                         object
city                            object
zipcode                         object
store_location                  object
county_number                   object
county                          object
category                        object
category_name                   object
vendor_no                       object
vendor_name                     object
itemno                          object
im_desc                         object
pack                            object
bottle_volume_ml                object
state_bottle_cost               object
state_bottle_retail             object
sale_bottles                     int64
sale_dollars                    object
sale_liters                     object
sale_gallons                    object
:@computed_region_3r5t_5243     object
:@computed_region_wnea_7qqw     object
:@computed_region_i9mz_6gmt     object
:@computed_region_uhgg_e8y2     object
:@computed_region_e7ym_nrbf     object
long                           float64
lat                            float64
hex_id                          object
dtype: object

# Query Trials

In [ ]:
client = Socrata("data.iowa.gov", app_token=TOKEN)

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get(liquor_sales_data_id, limit=2000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)
results_df

In [134]:
import requests

# https://data.iowa.gov/resource/m3tr-qhgy.json?vendor_name=10th Mountain Whiskey %26 Spirit Company
# url = f"https://data.seattle.gov/resource/kzjm-xkqj.json?vendor_name=10th Mountain Whiskey %26 Spirit Company$$app_token={TOKEN}"
url = f"https://data.iowa.gov/resource/m3tr-qhgy.json?$$app_token={TOKEN}&$limit=20&$where=(vendor_name like '%10th Mountain%')"
r = requests.get(url=url).json()
r

[{'invoice_line_no': 'INV-07369100005',
  'date': '2017-09-20T00:00:00.000',
  'store': '3869',
  'name': "Bootleggin' Barzini's Fin",
  'address': '412  1st Ave',
  'city': 'Coralville',
  'zipcode': '52241',
  'store_location': {'type': 'Point', 'coordinates': [-91.565517, 41.672672]},
  'county_number': '52',
  'county': 'JOHNSON',
  'category': '1011700',
  'category_name': 'Corn Whiskies',
  'vendor_no': '522',
  'vendor_name': '10th Mountain Whiskey & Spirit Company',
  'itemno': '928012',
  'im_desc': '10th Mountain Bourbon',
  'pack': '6',
  'bottle_volume_ml': '750',
  'state_bottle_cost': '32.50',
  'state_bottle_retail': '48.75',
  'sale_bottles': '6',
  'sale_dollars': '292.50',
  'sale_liters': '4.50',
  'sale_gallons': '1.19'}]

In [135]:
pd.DataFrame(r)

,invoice_line_no,date,store,name,address,city,zipcode,store_location,county_number,county,...,itemno,im_desc,pack,bottle_volume_ml,state_bottle_cost,state_bottle_retail,sale_bottles,sale_dollars,sale_liters,sale_gallons
0,INV-07369100005,2017-09-20T00:00:00.000,3869,Bootleggin' Barzini's Fin,412 1st Ave,Coralville,52241,"{'type': 'Point', 'coordinates': [-91.565517, ...",52,JOHNSON,...,928012,10th Mountain Bourbon,6,750,32.50,48.75,6,292.50,4.50,1.19

# Setting up Functions

In [1]:
from MyCreds.mycreds import IowaData
import pandas as pd
from sodapy import Socrata
import numpy as np
import h3
import requests

KEY = IowaData.api_key
SECRET = IowaData.api_key_secret
TOKEN = IowaData.app_token

liquor_sales_data_id = "m3tr-qhgy"

In [2]:
def clean_dataframe(df, h3_resolution=8):
    coords_df = pd.DataFrame(df['store_location'].to_dict()).T
    coords_df['coordinates'] = np.where(coords_df['coordinates'].isnull(), pd.Series([[]]*len(coords_df)), coords_df['coordinates']) # fill na with empty list
    df = df.merge(pd.DataFrame(coords_df['coordinates'].to_list(), columns=['long', 'lat']), left_index=True, right_index=True)


    def lat_long_to_h3(row):
        return h3.geo_to_h3(lat=row.lat,lng=row.long,resolution = h3_resolution)

    df['hex_id'] = df.apply(lat_long_to_h3, axis=1)

    return df

In [3]:
def get_data_chunk(resource_id, n_records=5000):

    BASE_URL = f"https://data.iowa.gov/resource/{resource_id}.json?$$app_token={TOKEN}"
    query_url=f"&$limit={n_records}"
    url = f"{BASE_URL}{query_url}"
    response_json = requests.get(url=url).json()
    df = pd.DataFrame(response_json)
    df = clean_dataframe(df)
    return df

In [13]:
test_query = get_data_chunk(resource_id=liquor_sales_data_id)
test_query

,invoice_line_no,date,store,name,address,city,zipcode,store_location,county_number,county,...,sale_liters,sale_gallons,:@computed_region_3r5t_5243,:@computed_region_wnea_7qqw,:@computed_region_i9mz_6gmt,:@computed_region_uhgg_e8y2,:@computed_region_e7ym_nrbf,long,lat,hex_id
0,INV-01973400038,2016-12-06T00:00:00.000,3632,Wal-Mart 2004 / Dubuque,4200 Dodge St,Dubuque,52003,"{'type': 'Point', 'coordinates': [-90.736955, ...",31,DUBUQUE,...,12.00,3.17,864,55,59,31,1780,-90.736955,42.489041,88275a2ac1fffff
1,INV-01971700003,2016-12-06T00:00:00.000,4844,Iowa City Fast Break,"2580, Naples Ave",Iowa City,52240,"{'type': 'Point', 'coordinates': [-91.571064, ...",52,JOHNSON,...,0.75,0.20,896,22,292,61,1792,-91.571064,41.632792,8826747ad3fffff
2,INV-02003100094,2016-12-07T00:00:00.000,2501,Hy-Vee #2 / Ames,640 Lincolnway,Ames,50010,"{'type': 'Point', 'coordinates': [-93.619455, ...",85,STORY,...,9.00,2.38,609,11,124,53,299,-93.619455,42.022848,88262b39d3fffff
3,INV-01971700014,2016-12-06T00:00:00.000,4844,Iowa City Fast Break,"2580, Naples Ave",Iowa City,52240,"{'type': 'Point', 'coordinates': [-91.571064, ...",52,JOHNSON,...,0.50,0.13,896,22,292,61,1792,-91.571064,41.632792,8826747ad3fffff
4,INV-01978900060,2016-12-06T00:00:00.000,2576,Hy-Vee Wine and Spirits / Storm Lake,1250 N Lake St,Storm Lake,50588,"{'type': 'Point', 'coordinates': [-95.200758, ...",11,BUENA VIST,...,0.50,0.13,15,27,323,24,178,-95.200758,42.653184,88262a61a1fffff
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,INV-02010500021,2016-12-07T00:00:00.000,5013,State Food Mart,3715 State St,Bettendorf,52722,"{'type': 'Point', 'coordinates': [-90.482018, ...",82,SCOTT,...,0.50,0.13,233,56,84,67,1881,-90.482018,41.528972,882675c361fffff
4996,INV-02064100002,2016-12-09T00:00:00.000,3654,The Beverage Shop / Belmond,207 E Main St,Belmond,50421,"{'type': 'Point', 'coordinates': [-93.615247, ...",99,WRIGHT,...,10.50,2.77,251,20,20,27,304,-93.615247,42.845901,8826286587fffff
4997,INV-01982100054,2016-12-06T00:00:00.000,2665,Hy-Vee / Waukee,1005 E Hickman Rd,Waukee,50263,"{'type': 'Point', 'coordinates': [-93.854477, ...",25,DALLAS,...,4.50,1.19,155,27,332,62,1746,-93.854477,41.615059,88260d8ae9fffff
4998,INV-02072600007,2016-12-12T00:00:00.000,5128,Price Chopper / Beaver,1819 Beaver Ave,Des Moines,50310,"{'type': 'Point', 'coordinates': [-93.672695, ...",77,POLK,...,9.00,2.38,684,25,316,64,1878,-93.672695,41.610525,88260d80c9fffff
4999,INV-02018800025,2016-12-07T00:00:00.000,4162,Fareway Stores #963 / Cedar Rapids,4220 16th Ave SW,Cedar Rapids,52404,"{'type': 'Point', 'coordinates': [-91.726726, ...",57,LINN,...,2.25,0.59,793,18,264,45,287,-91.726726,41.963791,8826744249fffff

# Testing Date Ranges

In [14]:
n_records = 20
url = f"https://data.iowa.gov/resource/m3tr-qhgy.json?$$app_token={TOKEN}&$limit={n_records}&$where=(date_extract_y(date) between 2022 and 2022)"
r = requests.get(url=url).json()
pd.DataFrame(r)

,invoice_line_no,date,store,name,address,city,zipcode,county_number,county,category,...,im_desc,pack,bottle_volume_ml,state_bottle_cost,state_bottle_retail,sale_bottles,sale_dollars,sale_liters,sale_gallons,store_location
0,INV-46075600028,2022-03-31T00:00:00.000,6078,Kum & Go #0185 / Bondurant,3015 Oxbow Court SW,Bondurant,50035,77,POLK,1031100,...,Hawkeye Vodka,6,1750,7.17,10.76,2,21.52,3.50,0.92,NaN
1,INV-46088300001,2022-03-31T00:00:00.000,9041,S&B Farms Distillery,212 E Ramsey St.,Bancroft,50517,55,KOSSUTH,1091100,...,Sir Winston Peach,6,750,13.01,19.52,18,351.36,13.50,3.56,"{'type': 'Point', 'coordinates': [-94.215423, ..."
2,INV-47964000008,2022-06-01T00:00:00.000,5060,L&M Mighty Shop,"504, E Burlington St",Iowa City,52240,52,JOHNSON,1031100,...,Hawkeye Vodka,48,200,1.15,1.73,48,83.04,9.60,2.53,"{'type': 'Point', 'coordinates': [-91.52843, 4..."
3,INV-46079300011,2022-03-31T00:00:00.000,2532,Hy-Vee Food Store #2 / Des Moines,2540 E Euclid,Des Moines,50317,77,POLK,1022100,...,Jose Cuervo Especial Silver,12,750,11.07,16.61,12,199.32,9.00,2.37,"{'type': 'Point', 'coordinates': [-93.56955, 4..."
4,INV-47940800025,2022-06-01T00:00:00.000,3831,The Market Of Madrid,301 Annex Rd,Madrid,50156,8,BOONE,1012100,...,Canadian Club Whisky PET,12,750,8.00,12.00,2,24.00,1.50,0.39,"{'type': 'Point', 'coordinates': [-93.815365, ..."
5,INV-47947000042,2022-06-01T00:00:00.000,2672,Hy-Vee / Winterset,923 N 1st St,Winterset,50273,61,MADISON,1012100,...,Black Velvet Reserve,12,750,8.00,12.00,12,126.00,9.00,2.37,"{'type': 'Point', 'coordinates': [-94.013482, ..."
6,INV-47952800008,2022-06-01T00:00:00.000,5884,Casey's General Store #3439 / Lime Springs,14046 45th St,Lime Springs,52155,45,HOWARD,1031100,...,Smirnoff 80prf,12,750,8.25,12.38,6,74.28,4.50,1.18,NaN
7,INV-46073500019,2022-03-31T00:00:00.000,2621,Hy-Vee Food Store #3 / Sioux City,3301 Gordon Dr,Sioux City,51105,97,WOODBURY,1011200,...,Evan Williams Black,12,750,8.50,12.75,6,76.50,4.50,1.18,"{'type': 'Point', 'coordinates': [-96.363535, ..."
8,INV-47936100027,2022-06-01T00:00:00.000,5343,Frohlich's Super Valu,403 Main St.,Coon Rapids,50058,14,CARROLL,1032100,...,Grey Goose,12,750,15.00,22.50,1,22.50,0.75,0.19,"{'type': 'Point', 'coordinates': [-94.676021, ..."
9,INV-47938900022,2022-06-01T00:00:00.000,4568,Select Mart / Sioux City,4103 Floyd Blvd,Sioux City,51108,97,WOODBURY,1031100,...,Five O'Clock Vodka,24,375,1.93,2.90,48,139.20,18.00,4.75,"{'type': 'Point', 'coordinates': [-96.358413, ..."
10,INV-47944100011,2022-06-01T00:00:00.000,3993,New Star Liquor / W 4th S / Waterloo,1625 West 4th St,Waterloo,50701,7,BLACK HAWK,1051100,...,E & J VS,24,200,2.00,3.00,48,144.00,9.60,2.53,NaN
11,INV-47956400005,2022-06-01T00:00:00.000,4255,Fareway Stores #058 / Orange City,512 8th SE,Orange City,51041,84,SIOUX,1031200,...,Smirnoff Kissed Caramel,12,750,8.25,12.38,12,148.56,9.00,2.37,NaN
12,INV-46048700017,2022-03-30T00:00:00.000,4872,Casey's General Store #2644 / Earlham,975 N Chestnut Ave,Earlham,50072,61,MADISON,1031100,...,Titos Handmade Vodka,12,750,10.00,15.00,12,180.00,9.00,2.37,"{'type': 'Point', 'coordinates': [-94.123159, ..."
13,INV-46058900046,2022-03-30T00:00:00.000,2675,Hy-Vee #2 / Coralville,3285 Crosspark Rd,Coralville,52241,52,JOHNSON,1081200,...,Iowish Cream Salted Caramel,6,750,10.17,15.26,6,91.56,4.50,1.18,"{'type': 'Point', 'coordinates': [-91.605881, ..."
14,INV-46077600020,2022-03-31T00:00:00.000,5995,Super Stop Liquor and Wine / Altoona,2635 Adventureland Dr,Altoona,50009,77,POLK,1012100,...,Pendleton Canadian Whiskey,12,750,13.50,20.25,2,40.50,1.50,0.39,"{'type': 'Point', 'coordinates': [-93.494757, ..."
15,INV-46055200003,2022-03-30T00:00:00.000,3789,Wal-Mart 1393 / Oskaloosa,2203 A Avenue West,Oskaloosa,52577,62,MAHASKA,1011100,...,Seagrams 7 Crown,12,750,7.50,11.25,12,135.00,9.00,2.37,"{'type': 'Point', 'coordinates': [-92.669924, ..."
16,INV-47935000023,2022-06-01T00:00:00.000,4014,Wal-Mart 1732 / Denison,510 C Ave,Denison,51442,24,CRAWFORD,1012100,...,Crown Royal,12,1000,19.99,29.99,12,359.88,12.00,3.17,NaN
17,INV-47956900119,2022-06-01T00:00:00.000,5423,Stammer Liquor Corp,615 2nd Ave,Sheldon,51201,71,OBRIEN,1031100,...,Hawkeye Vodka Mini,12,50,4.13,6.20,1,6.20,0.05,0.01,"{'type': 'Point', 'coordinates': [-95.854899, ..."
18,INV-47959900022,2022-06-01T00:00:00.000,4019,Wal-Mart 1506 / Manchester,1220 West Main,Manchester,52057,28,DELAWARE,1011200,...,Jim Beam Peach,12,750,11.00,16.50,12,198.00,9.00,2.37,NaN
19,INV-46076300019,2022-03-31T00:00:00.000,4135,Fareway Stores #925 / Altoona,620 SE 8th St,Altoona,50009,77,POLK,1011200,...,Jim Beam Honey,12,750,11.00,16.50,2,33.00,1.50,0.39,"{'type': 'Point', 'coordinates': [-93.457935, ..."

In [155]:
url= f"https://data.iowa.gov/resource/m3tr-qhgy.json?$$app_token={TOKEN}&$limit=none&$where=(date between '2022-01-01' and '2022-01-31')"
r = requests.get(url=url).json()
pd.DataFrame(r)

,code,error,message,data
position,query.compiler.malformed,True,"Could not parse SoQL query ""select * where (da...",{}
query,query.compiler.malformed,True,"Could not parse SoQL query ""select * where (da...",select * where (date between '2022-01-01' and ...

In [164]:
client = Socrata("data.iowa.gov", app_token=TOKEN)
results = client.get_all("m3tr-qhgy", where="(date between '2022-01-01' and '2022-01-31')")
socrata_df = pd.DataFrame.from_records(results)
socrata_df

,invoice_line_no,date,store,name,address,city,zipcode,store_location,county_number,county,...,itemno,im_desc,pack,bottle_volume_ml,state_bottle_cost,state_bottle_retail,sale_bottles,sale_dollars,sale_liters,sale_gallons
0,INV-43468500052,2022-01-02T00:00:00.000,2190,"Central City Liquor, Inc.",1460 2ND AVE,Des Moines,50314,"{'type': 'Point', 'coordinates': [-93.619788, ...",77,POLK,...,5362,John Barr Reserve,12,750,11.67,17.51,3,52.53,2.25,0.59
1,INV-43468400001,2022-01-02T00:00:00.000,2536,HY-VEE / PLEASANT HILL,4815 Maple Drive,Pleasant Hill,50317,"{'type': 'Point', 'coordinates': [-93.519491, ...",77,Polk,...,34001,Absolut Swedish Vodka 80prf Mini,10,50,7.92,11.88,10,118.80,0.50,0.13
2,INV-43468400006,2022-01-02T00:00:00.000,2536,HY-VEE / PLEASANT HILL,4815 Maple Drive,Pleasant Hill,50317,"{'type': 'Point', 'coordinates': [-93.519491, ...",77,Polk,...,39825,Western Son Blueberry,12,750,9.01,13.52,12,162.24,9.00,2.37
3,INV-43468400011,2022-01-02T00:00:00.000,2536,HY-VEE / PLEASANT HILL,4815 Maple Drive,Pleasant Hill,50317,"{'type': 'Point', 'coordinates': [-93.519491, ...",77,Polk,...,25616,Seagrams 7 Crown PET Flask,12,750,7.50,11.25,12,135.00,9.00,2.37
4,INV-43468500039,2022-01-02T00:00:00.000,2190,"Central City Liquor, Inc.",1460 2ND AVE,Des Moines,50314,"{'type': 'Point', 'coordinates': [-93.619788, ...",77,POLK,...,88533,Mi Campo Reposado,12,750,12.40,18.60,2,37.20,1.50,0.39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182590,INV-44266300017,2022-01-31T00:00:00.000,6018,Casey's General Store - #2532,1807 Edgington Ave,Eldora,50627,"{'type': 'Point', 'coordinates': [-93.10607700...",42,HARDIN,...,48105,Hennessy VS,12,375,12.49,18.74,3,56.22,1.12,0.29
182591,INV-44260900001,2022-01-31T00:00:00.000,5873,West D Liquors,5014 EP True Pkwy,West Des Moines,50265,"{'type': 'Point', 'coordinates': [-93.772906, ...",77,POLK,...,48099,Hennessy VS,24,200,7.49,11.24,24,269.76,4.80,1.26
182592,INV-44284600001,2022-01-31T00:00:00.000,6178,Hy-Vee Dollar Fresh / Maquoketa,102 W Carlisle,Maquoketa,52060,NaN,49,JACKSON,...,17916,Elijah Craig,12,750,16.00,24.00,12,288.00,9.00,2.37
182593,INV-44264900016,2022-01-31T00:00:00.000,5736,218 Fuel Express,68 Monroe Street,Floyd,50435,"{'type': 'Point', 'coordinates': [-92.73738, 4...",34,FLOYD,...,48105,Hennessy VS,12,375,12.49,18.74,6,112.44,2.25,0.59
182594,INV-44263000006,2022-01-31T00:00:00.000,6059,Casey's General Store #1793 / Iowa Falls,1801 Washington Ave,Iowa Falls,50126,"{'type': 'Point', 'coordinates': [-93.279976, ...",42,HARDIN,...,27780,Jim Beam Apple Mini,12,50,7.00,10.50,1,10.50,0.05,0.01

In [165]:
socrata_df['date'] = pd.to_datetime(socrata_df['date'])
socrata_df['date'].min()

Timestamp('2022-01-02 00:00:00')

In [166]:
socrata_df['date'].max()

Timestamp('2022-01-31 00:00:00')

In [167]:
182595 * 12

2191140

In [171]:
client = Socrata("data.iowa.gov", app_token=TOKEN, timeout=60)
results = client.get_all("m3tr-qhgy", where="date_extract_y(date) between 2022 and 2022")
socrata_df_22 = pd.DataFrame.from_records(results)
socrata_df_22

KeyboardInterrupt:

In [15]:
len('INV-46048700017')

15

In [17]:
test_query['store'].str.len().max()

4

In [4]:
TOKEN

'LvcT5G1dyfnu9ZVLI6GJ17nEK'