In [67]:
from MyCreds.mycreds import IowaData
import pandas as pd
from sodapy import Socrata
import numpy as np
import h3

KEY = IowaData.api_key
SECRET = IowaData.api_key_secret
TOKEN = IowaData.app_token

# Iowa Liquor Sales

In [6]:
liquor_sales_data_id = "m3tr-qhgy"

In [2]:
#!/usr/bin/env python
# Reference: https://dev.socrata.com/foundry/data.iowa.gov/m3tr-qhgy

# make sure to install these packages before running:
# pip install sodapy


# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.iowa.gov", app_token=TOKEN)

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get(liquor_sales_data_id, limit=2000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)
results_df

,invoice_line_no,date,store,name,address,city,zipcode,store_location,county_number,county,...,state_bottle_retail,sale_bottles,sale_dollars,sale_liters,sale_gallons,:@computed_region_3r5t_5243,:@computed_region_wnea_7qqw,:@computed_region_i9mz_6gmt,:@computed_region_uhgg_e8y2,:@computed_region_e7ym_nrbf
0,S32237200017,2016-05-10T00:00:00.000,4533,Casey's General Store #1985 / St. An,110 N Hwy 218,St Ansgar,50472,"{'type': 'Point', 'coordinates': [-92.917588, ...",66,Mitchell,...,15.74,24,377.76,18.00,4.76,461,14,171,10,291
1,S32326100005,2016-05-16T00:00:00.000,3612,B and C Liquor / Maquoketa,509 E Platt,Maquoketa,52060,"{'type': 'Point', 'coordinates': [-90.659692, ...",49,Jackson,...,27.00,6,162.00,10.50,2.77,153,7,80,43,1790
2,S32350600161,2016-05-16T00:00:00.000,2633,Hy-Vee #3 / BDI / Des Moines,3221 SE 14th St,Des Moines,50320,"{'type': 'Point', 'coordinates': [-93.596754, ...",77,Polk,...,13.88,12,166.56,12.00,3.17,483,29,356,64,1878
3,S32246800175,2016-05-10T00:00:00.000,2666,Hy-Vee #2 / Ankeny,2510 SW State St,Ankeny,50023,"{'type': 'Point', 'coordinates': [-93.621824, ...",77,Polk,...,9.00,1,9.00,0.75,0.20,831,25,316,64,1878
4,S32349300041,2016-05-17T00:00:00.000,4209,Wal-Mart 5748 / Grimes,2150 East 1st St,Grimes,50111,"{'type': 'Point', 'coordinates': [-93.771698, ...",77,Polk,...,5.01,12,60.12,9.00,2.38,654,25,315,64,1878
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,S32344500098,2016-05-16T00:00:00.000,4829,Central City 2,1501 Michigan Ave,Des Moines,50314,"{'type': 'Point', 'coordinates': [-93.613739, ...",77,Polk,...,18.89,3,56.67,2.25,0.59,432,25,316,64,1878
1996,S32303000001,2016-05-18T00:00:00.000,2513,Hy-Vee Food Store #2 / Iowa City,812 S 1st Ave,Iowa City,52240,NaN,52,Johnson,...,19.47,10,194.70,7.50,1.98,NaN,NaN,NaN,NaN,NaN
1997,S32294500007,2016-05-12T00:00:00.000,5169,AV Superstop,"5120, NE 14th Street",Des Moines,50313,"{'type': 'Point', 'coordinates': [-93.60054000...",77,Polk,...,8.61,4,34.44,0.80,0.21,829,25,316,64,1878
1998,S32342800026,2016-05-16T00:00:00.000,2627,Hy-Vee Wine and Spirits #1,3424 Martin Luther King Jr Pkw,Des Moines,50310,"{'type': 'Point', 'coordinates': [-93.65129, 4...",77,Polk,...,17.25,3,51.75,1.50,0.40,684,25,316,64,1878
1999,S32324600024,2016-05-16T00:00:00.000,4856,Brothers Market / Lisbon,930 Commercial St,Lisbon,52253,"{'type': 'Point', 'coordinates': [-91.401062, ...",57,Linn,...,12.99,4,51.96,3.00,0.79,467,19,268,45,287

# MetaData

Gathering matadata for data descriptions and data types.

In [8]:
metadata = client.get_metadata(liquor_sales_data_id)
metadata

{'id': 'm3tr-qhgy',
 'name': 'Iowa Liquor Sales',
 'assetType': 'dataset',
 'attribution': 'Iowa Department of Commerce, Alcoholic Beverages Division',
 'averageRating': 0,
 'category': 'Sales & Distribution',
 'createdAt': 1415384381,
 'description': 'This dataset contains the spirits purchase information of Iowa Class “E” liquor licensees by product and date of purchase from January 1, 2012 to current.  The dataset can be used to analyze total spirits sales in Iowa of individual products at the store level.\r\n\r\nClass E liquor license, for grocery stores, liquor stores, convenience stores, etc., allows commercial establishments to sell liquor for off-premises consumption in original unopened containers.',
 'displayType': 'table',
 'domainCName': 'data.iowa.gov',
 'downloadCount': 11191,
 'hideFromCatalog': False,
 'hideFromDataJson': False,
 'indexUpdatedAt': 1564675701,
 'licenseId': 'CC0_10',
 'newBackend': True,
 'numberOfComments': 8,
 'oid': 32061986,
 'provenance': 'official',
 'publicationAppendEnabled': False,
 'publicationDate': 1564721008,
 'publicationGroup': 1864764,
 'publicationStage': 'published',
 'rowClass': '',
 'rowIdentifierColumnId': 421004091,
 'rowsUpdatedAt': 1659650517,
 'rowsUpdatedBy': '685n-hc2b',
 'tableId': 16403480,
 'totalTimesRated': 0,
 'viewCount': 73447,
 'viewLastModified': 1659650492,
 'viewType': 'tabular',
 'approvals': [{'reviewedAt': 1451506389,
   'reviewedAutomatically': True,
   'state': 'approved',
   'submissionId': 1020570,
   'submissionObject': 'public_audience_request',
   'submissionOutcome': 'change_audience',
   'submittedAt': 1451506389,
   'workflowId': 1962,
   'submissionDetails': {'permissionType': 'READ'},
   'submissionOutcomeApplication': {'failureCount': 0, 'status': 'success'},
   'submitter': {'id': 'mabe-sef7',
    'displayName': 'Alcoholic Beverages Division (Commerce)'}}],
 'clientContext': {'clientContextVariables': [], 'inheritedVariables': {}},
 'columns': [{'id': 421004091,
   'name': 'Invoice/Item Number',
   'dataTypeName': 'text',
   'description': 'Concatenated invoice and line number associated with the liquor order.  This provides a unique identifier for the individual liquor products included in the store order',
   'fieldName': 'invoice_line_no',
   'position': 1,
   'renderTypeName': 'text',
   'tableColumnId': 33137142,
   'width': 127,
   'cachedContents': {'largest': 'S444400083',
    'non_null': '24396811',
    'null': '0',
    'top': [{'item': '306831300002', 'count': '1'},
     {'item': '306831300003', 'count': '1'},
     {'item': '306831300004', 'count': '1'},
     {'item': '306831300005', 'count': '1'},
     {'item': '306831300006', 'count': '1'},
     {'item': '306831300007', 'count': '1'},
     {'item': '306831300008', 'count': '1'},
     {'item': '306831300009', 'count': '1'},
     {'item': '306831300010', 'count': '1'},
     {'item': '306831300011', 'count': '1'},
     {'item': '306831300012', 'count': '1'},
     {'item': '306831300013', 'count': '1'},
     {'item': '306831300014', 'count': '1'},
     {'item': '306831300015', 'count': '1'},
     {'item': '306831300016', 'count': '1'},
     {'item': '306831300017', 'count': '1'},
     {'item': '306831300018', 'count': '1'},
     {'item': '306831300019', 'count': '1'},
     {'item': '306831300020', 'count': '1'},
     {'item': '306831300021', 'count': '1'}],
    'not_null': '17300913',
    'smallest': '306831300001',
    'count': '24396811',
    'cardinality': '24396811'},
   'format': {'align': 'left'}},
  {'id': 421004092,
   'name': 'Date',
   'dataTypeName': 'calendar_date',
   'description': 'Date of order',
   'fieldName': 'date',
   'position': 2,
   'renderTypeName': 'calendar_date',
   'tableColumnId': 22767599,
   'width': 100,
   'cachedContents': {'largest': '2022-07-29T00:00:00.000',
    'non_null': '24396811',
    'null': '0',
    'top': [{'item': '2020-12-22T00:00:00.000', 'count': '18002'},
     {'item': '2020-12-29T00:00:00.000', 'count': '17722'},
     {'item': '2017-12-22T00:00:00.000', 'count': '16674'},
     {'item': '2020-05-29T00:00:00.000', 'count': '16650'},
     {'item': '2019-07-05T00:00:00.000', 'count': '16173'},
     {'item': '2014-12-29T00:00:00.000', 'count': '15996'},
     {'item': '2015-12-01T00:00:00.000', 'count': '15588'},
     {'item': '2018-12-21T00:00:00.000', 'count': '15578'},
     {'item': '2019-12-20T00:00:00.000', 'count': '15248'},
     {'item': '2016-06-28T00:00:00.000', 'count': '15107'},
     {'item': '2014-12-17T00:00:00.000', 'count': '14963'},
     {'item': '2013-06-25T00:00:00.000', 'count': '14885'},
     {'item': '2013-12-18T00:00:00.000', 'count': '14871'},
     {'item': '2015-11-30T00:00:00.000', 'count': '14686'},
     {'item': '2015-12-28T00:00:00.000', 'count': '14603'},
     {'item': '2014-12-03T00:00:00.000', 'count': '14585'},
     {'item': '2018-05-16T00:00:00.000', 'count': '14531'},
     {'item': '2019-09-05T00:00:00.000', 'count': '14481'},
     {'item': '2019-05-31T00:00:00.000', 'count': '14444'},
     {'item': '2012-12-18T00:00:00.000', 'count': '14442'}],
    'not_null': '17300913',
    'smallest': '2012-01-03T00:00:00.000',
    'count': '24396811',
    'cardinality': '2680'},
   'format': {'view': 'date', 'align': 'left'}},
  {'id': 421004093,
   'name': 'Store Number',
   'dataTypeName': 'text',
   'description': 'Unique number assigned to the store who ordered the liquor.',
   'fieldName': 'store',
   'position': 3,
   'renderTypeName': 'text',
   'tableColumnId': 22767638,
   'width': 100,
   'cachedContents': {'largest': '9946',
    'non_null': '24396811',
    'null': '0',
    'top': [{'item': '2633', 'count': '202513'},
     {'item': '4829', 'count': '170370'},
     {'item': '2190', 'count': '160914'},
     {'item': '2512', 'count': '137439'},
     {'item': '2572', 'count': '128647'},
     {'item': '2603', 'count': '126565'},
     {'item': '2515', 'count': '123033'},
     {'item': '2614', 'count': '122860'},
     {'item': '2648', 'count': '117933'},
     {'item': '2647', 'count': '117899'},
     {'item': '2501', 'count': '113137'},
     {'item': '2500', 'count': '109111'},
     {'item': '2629', 'count': '108364'},
     {'item': '2616', 'count': '107924'},
     {'item': '2590', 'count': '106817'},
     {'item': '2565', 'count': '106023'},
     {'item': '3773', 'count': '105556'},
     {'item': '4129', 'count': '105373'},
     {'item': '2619', 'count': '105289'},
     {'item': '2506', 'count': '104254'}],
    'not_null': '17300913',
    'smallest': '010016',
    'count': '24396811',
    'cardinality': '2780'},
   'format': {'align': 'left'}},
  {'id': 421004094,
   'name': 'Store Name',
   'dataTypeName': 'text',
   'description': 'Name of store who ordered the liquor.',
   'fieldName': 'name',
   'position': 4,
   'renderTypeName': 'text',
   'tableColumnId': 22767676,
   'width': 161,
   'cachedContents': {'largest': "Z's Quickbreak",
    'non_null': '24396811',
    'null': '0',
    'top': [{'item': 'Hy-Vee #3 / BDI / Des Moines', 'count': '202513'},
     {'item': 'Central City 2', 'count': '170406'},
     {'item': 'Central City Liquor, Inc.', 'count': '160878'},
     {'item': 'Hy-Vee Wine and Spirits / Iowa City', 'count': '137439'},
     {'item': 'Hy-Vee Food Store / Cedar Falls', 'count': '128647'},
     {'item': 'Hy-Vee Wine and Spirits / Bettendorf', 'count': '126565'},
     {'item': 'Hy-Vee Food Store #1 / Mason City', 'count': '123033'},
     {'item': 'Hy-Vee #7 / Cedar Rapids', 'count': '116924'},
     {'item': 'Hy-Vee Food Store #1 / Ames', 'count': '109111'},
     {'item': 'Hy-Vee Food and Drug / Clinton', 'count': '107924'},
     {'item': 'Hy-Vee Food Store #5 / Cedar Rapids', 'count': '106836'},
     {'item': 'Benz Distributing', 'count': '105592'},
     {'item': 'Cyclone Liquors', 'count': '105373'},
     {'item': 'Hy-Vee Wine and Spirits / WDM', 'count': '105289'},
     {'item': 'Hy-Vee #1044 / Burlington', 'count': '104254'},
     {'item': 'Hy-Vee #4 / WDM', 'count': '101435'},
     {'item': 'Hy-Vee Food Store / Muscatine', 'count': '99094'},
     {'item': 'Hy-Vee Food Store #3 / Cedar Rapids', 'count': '97010'},
     {'item': 'Hy-Vee Food Store / Coralville', 'count': '94631'},
     {'item': 'Hy-Vee Food Store / Fleur / DSM', 'count': '93685'}],
    'not_null': '17300913',
    'smallest': '10th Hole Inn & Suite / Gift Shop',
    'count': '24396811',
    'cardinality': '2943'},
   'format': {'align': 'left'}},
  {'id': 421004095,
   'name': 'Address',
   'dataTypeName': 'text',
   'description': 'Address of store who ordered the liquor.',
   'fieldName': 'address',
   'position': 5,
   'renderTypeName': 'text',
   'tableColumnId': 22767693,
   'width': 219,
   'cachedContents': {'largest': 'PO BOX 261  310 W DILLON',
    'non_null': '24316118',
    'null': '80693',
    'top': [{'item': '3221 SE 14th St', 'count': '164994'},
     {'item': '1460 2ND AVE', 'count': '159857'},
     {'item': '3221 SE 14TH ST', 'count': '110543'},
     {'item': '1501 Michigan Ave', 'count': '108172'},
     {'item': '6301 University', 'count': '93771'},
     {'item': '507 W 19th St', 'count': '82356'},
     {'item': '2890 Devils Glen Road', 'count': '80626'},
     {'item': '2004 8th  St', 'count': '78221'},
     {'item': '5050 Edgewood Rd', 'count': '74168'},
     {'item': '555 S 51st St', 'count': '72856'},
     {'item': '2400 4th St SW', 'count': '72173'},
     {'item': '1720 Waterfront Dr', 'count': '71134'},
     {'item': '2510 SW State St', 'count': '69827'},
     {'item': '626 Lincoln Way', 'count': '69041'},
     {'item': '501 7th Ave SE', 'count': '68967'},
     {'item': '5925 University Ave', 'count': '68238'},
     {'item': '2411 S 24TH ST #1', 'count': '67247'},
     {'item': '1823 E Kimberly Rd', 'count': '66387'},
     {'item': '1720 WATERFRONT DR', 'count': '66305'},
     {'item': '1725  74th St', 'count': '66084'}],
    'not_null': '17221572',
    'smallest': '1000 N Jefferson St',
    'count': '24396811',
    'cardinality': '4108'},
   'format': {'align': 'left'}},
  {'id': 421004096,
   'name': 'City',
   'dataTypeName': 'text',
   'description': 'City where the store who ordered the liquor is located',
   'fieldName': 'city',
   'position': 6,
   'renderTypeName': 'text',
   'tableColumnId': 22767699,
   'width': 100,
   'cachedContents': {'largest': 'ZWINGLE',
    'non_null': '24316119',
    'null': '80692',
    'top': [{'item': 'Des Moines', 'count': '1286686'},
     {'item': 'Cedar Rapids', 'count': '980712'},
     {'item': 'DES MOINES', 'count': '811086'},
     {'item': 'Davenport', 'count': '637087'},
     {'item': 'CEDAR RAPIDS', 'count': '597416'},
     {'item': 'Waterloo', 'count': '478070'},
     {'item': 'Sioux City', 'count': '455523'},
     {'item': 'West Des Moines', 'count': '451709'},
     {'item': 'Council Bluffs', 'count': '447583'},
     {'item': 'DAVENPORT', 'count': '411104'},
     {'item': 'Ames', 'count': '402473'},
     {'item': 'Iowa City', 'count': '397940'},
     {'item': 'Dubuque', 'count': '389422'},
     {'item': 'Cedar Falls', 'count': '329113'},
     {'item': 'Ankeny', 'count': '312036'},
     {'item': 'WATERLOO', 'count': '289538'},
     {'item': 'IOWA CITY', 'count': '286109'},
     {'item': 'COUNCIL BLUFFS', 'count': '265827'},
     {'item': 'SIOUX CITY', 'count': '248627'},
     {'item': 'AMES', 'count': '247979'}],
    'not_null': '17221573',
    'smallest': 'Ackley',
    'count': '24396811',
    'cardinality': '859'},
   'format': {'align': 'left'}},
  {'id': 421004097,
   'name': 'Zip Code',
   'dataTypeName': 'text',
   'description': 'Zip code where the store who ordered the liquor is located',
   'fieldName': 'zipcode',
   'position': 7,
   'renderTypeName': 'text',
   'tableColumnId': 22767784,
   'width': 100,
   'cachedContents': {'largest': '80904',
    'non_null': '24316074',
    'null': '80737',
    'top': [{'item': '50010', 'count': '589667'},
     {'item': '52402', 'count': '563104'},
     {'item': '52240', 'count': '527943'},
     {'item': '50613', 'count': '466288'},
     {'item': '50317', 'count': '432454'},
     {'item': '51501', 'count': '429316'},
     {'item': '52001', 'count': '404624'},
     {'item': '50265', 'count': '399752'},
     {'item': '50314', 'count': '396613'},
     {'item': '52404', 'count': '381968'},
     {'item': '52241', 'count': '360961'},
     {'item': '50401', 'count': '344395'},
     {'item': '52807', 'count': '324537'},
     {'item': '52722', 'count': '303224'},
     {'item': '52761', 'count': '299616'},
     {'item': '50702', 'count': '298670'},
     {'item': '50266', 'count': '296197'},
     {'item': '52804', 'count': '295756'},
     {'item': '51503', 'count': '281328'},
     {'item': '50322', 'count': '280983'}],
    'not_null': '17221528',
    'smallest': '50002',
    'count': '24396811',
    'cardinality': '509'},
   'format': {'align': 'left'}},
  {'id': 421004098,
   'name': 'Store Location',
   'dataTypeName': 'point',
   'description': 'Location of store who ordered the liquor.  The Address, City, State and Zip Code are geocoded to provide geographic coordinates.  Accuracy of geocoding is dependent on how well the address is interpreted and the completeness of the reference data used.',
   'fieldName': 'store_location',
   'position': 8,
   'renderTypeName': 'point',
   'tableColumnId': 22767821,
   'width': 100,
   'cachedContents': {'non_null': '21990818',
    'null': '2405993',
    'top': [{'item': {'coordinates': [-93.596754, 41.554101], 'type': 'Point'},
      'count': '189532'},
     {'item': {'coordinates': [-93.613739, 41.60572], 'type': 'Point'},
      'count': '155441'},
     {'item': {'coordinates': [-93.619787, 41.60566], 'type': 'Point'},
      'count': '151647'},
     {'item': {'coordinates': [-91.53046300000001, 41.642764],
       'type': 'Point'},
      'count': '131200'},
     {'item': {'coordinates': [-92.435236, 42.512789], 'type': 'Point'},
      'count': '128643'},
     {'item': {'coordinates': [-90.548919, 41.55678100000001],
       'type': 'Point'},
      'count': '117924'},
     {'item': {'coordinates': [-90.483701, 41.552338], 'type': 'Point'},
      'count': '117892'},
     {'item': {'coordinates': [-91.701581, 42.030129], 'type': 'Point'},
      'count': '115842'},
     {'item': {'coordinates': [-93.773557, 41.561197], 'type': 'Point'},
      'count': '109428'},
     {'item': {'coordinates': [-95.14506, 43.145897], 'type': 'Point'},
      'count': '106023'},
     {'item': {'coordinates': [-91.659875, 41.97574], 'type': 'Point'},
      'count': '105554'},
     {'item': {'coordinates': [-93.808855, 41.598515], 'type': 'Point'},
      'count': '105285'},
     {'item': {'coordinates': [-91.136655, 40.814666], 'type': 'Point'},
      'count': '104252'},
     {'item': {'coordinates': [-90.193204, 41.836268000000004],
       'type': 'Point'},
      'count': '102067'},
     {'item': {'coordinates': [-95.825137, 41.242732], 'type': 'Point'},
      'count': '101060'},
     {'item': {'coordinates': [-91.658105, 42.010971], 'type': 'Point'},
      'count': '99990'},
     {'item': {'coordinates': [-93.618911, 42.022854], 'type': 'Point'},
      'count': '99206'},
     {'item': {'coordinates': [-92.429331, 42.512766], 'type': 'Point'},
      'count': '96441'},
     {'item': {'coordinates': [-93.619455, 42.022848], 'type': 'Point'},
      'count': '95784'},
     {'item': {'coordinates': [-91.035138, 41.451349], 'type': 'Point'},
      'count': '92585'}],
    'not_null': '15624172',
    'count': '24396811',
    'cardinality': '3188'},
   'format': {'view': 'coords', 'align': 'left'}},
  {'id': 421004099,
   'name': 'County Number',
   'dataTypeName': 'text',
   'description': 'Iowa county number for the county where store who ordered the liquor is located\n',
   'fieldName': 'county_number',
   'position': 9,
   'renderTypeName': 'text',
   'tableColumnId': 22767822,
   'width': 113,
   'cachedContents': {'largest': '99',
    'non_null': '24139924',
    'null': '256887',
    'top': [{'item': '77', 'count': '4461709'},
     {'item': '57', 'count': '2014013'},
     {'item': '82', 'count': '1472463'},
     {'item': '52', 'count': '1210675'},
     {'item': '7', 'count': '826414'},
     {'item': '78', 'count': '796545'},
     {'item': '85', 'count': '772023'},
     {'item': '97', 'count': '755430'},
     {'item': '31', 'count': '701551'},
     {'item': '17', 'count': '534170'},
     {'item': '07', 'count': '527424'},
     {'item': '29', 'count': '362658'},
     {'item': '70', 'count': '356572'},
     {'item': '23', 'count': '331226'},
     {'item': '30', 'count': '308463'},
     {'item': '56', 'count': '283929'},
     {'item': '25', 'count': '279476'},
     {'item': '90', 'count': '278260'},
     {'item': '64', 'count': '277162'},
     {'item': '94', 'count': '274118'}],
    'not_null': '17144768',
    'smallest': '01',
    'count': '24396811',
    'cardinality': '108'},
   'format': {'align': 'left'}},
  {'id': 421004100,
   'name': 'County',
   'dataTypeName': 'text',
   'description': 'County where the store who ordered the liquor is located\n',
   'fieldName': 'county',
   'position': 10,
   'renderTypeName': 'text',
   'tableColumnId': 22767827,
   'width': 100,
   'cachedContents': {'largest': 'WRIGHT',
    'non_null': '24239316',
    'null': '157495',
    'top': [{'item': 'POLK', 'count': '2467624'},
     {'item': 'Polk', 'count': '2013709'},
     {'item': 'LINN', 'count': '1178852'},
     {'item': 'SCOTT', 'count': '853445'},
     {'item': 'Linn', 'count': '843354'},
     {'item': 'BLACK HAWK', 'count': '806528'},
     {'item': 'JOHNSON', 'count': '724698'},
     {'item': 'Scott', 'count': '624363'},
     {'item': 'Black Hawk', 'count': '552997'},
     {'item': 'Johnson', 'count': '490358'},
     {'item': 'POTTAWATTA', 'count': '471896'},
     {'item': 'WOODBURY', 'count': '470082'},
     {'item': 'STORY', 'count': '454321'},
     {'item': 'DUBUQUE', 'count': '417359'},
     {'item': 'Pottawattamie', 'count': '325374'},
     {'item': 'Story', 'count': '320334'},
     {'item': 'Woodbury', 'count': '288241'},
     {'item': 'Dubuque', 'count': '286739'},
     {'item': 'CERRO GORD', 'count': '257954'},
     {'item': 'Cerro Gordo', 'count': '228579'}],
    'not_null': '17144770',
    'smallest': 'Adair',
    'count': '24396811',
    'cardinality': '201'},
   'format': {'align': 'left'}},
  {'id': 421004101,
   'name': 'Category',
   'dataTypeName': 'text',
   'description': 'Category code associated with the liquor ordered',
   'fieldName': 'category',
   'position': 11,
   'renderTypeName': 'text',
   'tableColumnId': 22767828,
   'width': 100,
   'cachedContents': {'largest': '1901200',
    'non_null': '24379837',
    'null': '16974',
    'top': [{'item': '1012100', 'count': '2338025'},
     {'item': '1031100', 'count': '2266756'},
     {'item': '1011200', 'count': '1505272'},
     {'item': '1031080', 'count': '1265974'},
     {'item': '1031200', 'count': '1214278'},
     {'item': '1081600', 'count': '1068591'},
     {'item': '1011100', 'count': '1054092'},
     {'item': '1022100', 'count': '748149'},
     {'item': '1062200', 'count': '731355'},
     {'item': '1071100', 'count': '701774'},
     {'item': '1062400', 'count': '685550'},
     {'item': '1032200', 'count': '533278'},
     {'item': '1041100', 'count': '531509'},
     {'item': '1062310', 'count': '530323'},
     {'item': '1081200', 'count': '530312'},
     {'item': '1081400', 'count': '519429'},
     {'item': '1051100', 'count': '482195'},
     {'item': '1032100', 'count': '476015'},
     {'item': '1081300', 'count': '464645'},
     {'item': '1022200', 'count': '435082'}],
    'not_null': '17285206',
    'smallest': '1011000',
    'count': '24396811',
    'cardinality': '114'},
   'format': {'align': 'left'}},
  {'id': 421004102,
   'name': 'Category Name',
   'dataTypeName': 'text',
   'description': 'Category of the liquor ordered.',
   'fieldName': 'category_name',
   'position': 12,
   'renderTypeName': 'text',
   'tableColumnId': 22767829,
   'width': 185,
   'cachedContents': {'largest': 'White Rum',

In [25]:
dataset_metadata = pd.DataFrame(metadata['columns'])[['name', 'dataTypeName', 'description', 'fieldName']]
dataset_metadata

,name,dataTypeName,description,fieldName
0,Invoice/Item Number,text,Concatenated invoice and line number associate...,invoice_line_no
1,Date,calendar_date,Date of order,date
2,Store Number,text,Unique number assigned to the store who ordere...,store
3,Store Name,text,Name of store who ordered the liquor.,name
4,Address,text,Address of store who ordered the liquor.,address
5,City,text,City where the store who ordered the liquor is...,city
6,Zip Code,text,Zip code where the store who ordered the liquo...,zipcode
7,Store Location,point,Location of store who ordered the liquor. The...,store_location
8,County Number,text,Iowa county number for the county where store ...,county_number
9,County,text,County where the store who ordered the liquor ...,county
10,Category,text,Category code associated with the liquor ordered,category
11,Category Name,text,Category of the liquor ordered.,category_name
12,Vendor Number,text,The vendor number of the company for the brand...,vendor_no
13,Vendor Name,text,The vendor name of the company for the brand o...,vendor_name
14,Item Number,text,Item number for the individual liquor product ...,itemno
15,Item Description,text,Description of the individual liquor product o...,im_desc
16,Pack,number,The number of bottles in a case for the liquor...,pack
17,Bottle Volume (ml),number,Volume of each liquor bottle ordered in millil...,bottle_volume_ml
18,State Bottle Cost,number,The amount that Alcoholic Beverages Division p...,state_bottle_cost
19,State Bottle Retail,number,The amount the store paid for each bottle of l...,state_bottle_retail
20,Bottles Sold,number,The number of bottles of liquor ordered by the...,sale_bottles
21,Sale (Dollars),number,Total cost of liquor order (number of bottles ...,sale_dollars
22,Volume Sold (Liters),number,Total volume of liquor ordered in liters. (i....,sale_liters
23,Volume Sold (Gallons),number,Total volume of liquor ordered in gallons. (i....,sale_gallons
24,Iowa ZIP Code Tabulation Areas,number,NaN,:@computed_region_3r5t_5243
25,Iowa Watershed Sub-Basins (HUC 08),number,NaN,:@computed_region_wnea_7qqw
26,Iowa Watersheds (HUC 10),number,NaN,:@computed_region_i9mz_6gmt
27,County Boundaries of Iowa,number,NaN,:@computed_region_uhgg_e8y2
28,US Counties,number,NaN,:@computed_region_e7ym_nrbf

# Location Data

Gathering Lat and Long from `store_location`

In [62]:
coords = pd.DataFrame(results_df['store_location'].to_dict()).T
coords['coordinates'] = np.where(coords['coordinates'].isnull(), pd.Series([[]]*len(coords)), coords['coordinates']) # fill na with empty list
coords

       type                      coordinates
0     Point          [-92.917588, 43.378704]
1     Point  [-90.659692, 42.06922000000001]
2     Point          [-93.596754, 41.554101]
3     Point          [-93.621824, 41.705188]
4     Point          [-93.771698, 41.688332]
...     ...                              ...
1995  Point           [-93.613739, 41.60572]
1996    NaN                               []
1997  Point  [-93.60054000000001, 41.653137]
1998  Point           [-93.65129, 41.626668]
1999  Point          [-91.401062, 41.918663]

[2000 rows x 2 columns]

In [65]:
pd.DataFrame(coords['coordinates'].to_list(), columns=['long', 'lat'])

           long        lat
0    -92.917588  43.378704
1    -90.659692  42.069220
2    -93.596754  41.554101
3    -93.621824  41.705188
4    -93.771698  41.688332
...         ...        ...
1995 -93.613739  41.605720
1996        NaN        NaN
1997 -93.600540  41.653137
1998 -93.651290  41.626668
1999 -91.401062  41.918663

[2000 rows x 2 columns]

In [70]:
results_df = results_df.merge(pd.DataFrame(coords['coordinates'].to_list(), columns=['long', 'lat']), left_index=True, right_index=True)
results_df

,invoice_line_no,date,store,name,address,city,zipcode,store_location,county_number,county,...,sale_dollars,sale_liters,sale_gallons,:@computed_region_3r5t_5243,:@computed_region_wnea_7qqw,:@computed_region_i9mz_6gmt,:@computed_region_uhgg_e8y2,:@computed_region_e7ym_nrbf,long,lat
0,S32237200017,2016-05-10T00:00:00.000,4533,Casey's General Store #1985 / St. An,110 N Hwy 218,St Ansgar,50472,"{'type': 'Point', 'coordinates': [-92.917588, ...",66,Mitchell,...,377.76,18.00,4.76,461,14,171,10,291,-92.917588,43.378704
1,S32326100005,2016-05-16T00:00:00.000,3612,B and C Liquor / Maquoketa,509 E Platt,Maquoketa,52060,"{'type': 'Point', 'coordinates': [-90.659692, ...",49,Jackson,...,162.00,10.50,2.77,153,7,80,43,1790,-90.659692,42.069220
2,S32350600161,2016-05-16T00:00:00.000,2633,Hy-Vee #3 / BDI / Des Moines,3221 SE 14th St,Des Moines,50320,"{'type': 'Point', 'coordinates': [-93.596754, ...",77,Polk,...,166.56,12.00,3.17,483,29,356,64,1878,-93.596754,41.554101
3,S32246800175,2016-05-10T00:00:00.000,2666,Hy-Vee #2 / Ankeny,2510 SW State St,Ankeny,50023,"{'type': 'Point', 'coordinates': [-93.621824, ...",77,Polk,...,9.00,0.75,0.20,831,25,316,64,1878,-93.621824,41.705188
4,S32349300041,2016-05-17T00:00:00.000,4209,Wal-Mart 5748 / Grimes,2150 East 1st St,Grimes,50111,"{'type': 'Point', 'coordinates': [-93.771698, ...",77,Polk,...,60.12,9.00,2.38,654,25,315,64,1878,-93.771698,41.688332
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,S32344500098,2016-05-16T00:00:00.000,4829,Central City 2,1501 Michigan Ave,Des Moines,50314,"{'type': 'Point', 'coordinates': [-93.613739, ...",77,Polk,...,56.67,2.25,0.59,432,25,316,64,1878,-93.613739,41.605720
1996,S32303000001,2016-05-18T00:00:00.000,2513,Hy-Vee Food Store #2 / Iowa City,812 S 1st Ave,Iowa City,52240,NaN,52,Johnson,...,194.70,7.50,1.98,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997,S32294500007,2016-05-12T00:00:00.000,5169,AV Superstop,"5120, NE 14th Street",Des Moines,50313,"{'type': 'Point', 'coordinates': [-93.60054000...",77,Polk,...,34.44,0.80,0.21,829,25,316,64,1878,-93.600540,41.653137
1998,S32342800026,2016-05-16T00:00:00.000,2627,Hy-Vee Wine and Spirits #1,3424 Martin Luther King Jr Pkw,Des Moines,50310,"{'type': 'Point', 'coordinates': [-93.65129, 4...",77,Polk,...,51.75,1.50,0.40,684,25,316,64,1878,-93.651290,41.626668
1999,S32324600024,2016-05-16T00:00:00.000,4856,Brothers Market / Lisbon,930 Commercial St,Lisbon,52253,"{'type': 'Point', 'coordinates': [-91.401062, ...",57,Linn,...,51.96,3.00,0.79,467,19,268,45,287,-91.401062,41.918663

In [88]:
h3_res = 8
def geo_to_h3(row):
    return h3.geo_to_h3(lat=row.lat,lng=row.long,resolution = h3_res)

In [89]:
results_df['hex_id'] = results_df.apply(geo_to_h3, axis=1)
results_df

,invoice_line_no,date,store,name,address,city,zipcode,store_location,county_number,county,...,sale_liters,sale_gallons,:@computed_region_3r5t_5243,:@computed_region_wnea_7qqw,:@computed_region_i9mz_6gmt,:@computed_region_uhgg_e8y2,:@computed_region_e7ym_nrbf,long,lat,hex_id
0,S32237200017,2016-05-10T00:00:00.000,4533,Casey's General Store #1985 / St. An,110 N Hwy 218,St Ansgar,50472,"{'type': 'Point', 'coordinates': [-92.917588, ...",66,Mitchell,...,18.00,4.76,461,14,171,10,291,-92.917588,43.378704,882628a363fffff
1,S32326100005,2016-05-16T00:00:00.000,3612,B and C Liquor / Maquoketa,509 E Platt,Maquoketa,52060,"{'type': 'Point', 'coordinates': [-90.659692, ...",49,Jackson,...,10.50,2.77,153,7,80,43,1790,-90.659692,42.069220,88267486d3fffff
2,S32350600161,2016-05-16T00:00:00.000,2633,Hy-Vee #3 / BDI / Des Moines,3221 SE 14th St,Des Moines,50320,"{'type': 'Point', 'coordinates': [-93.596754, ...",77,Polk,...,12.00,3.17,483,29,356,64,1878,-93.596754,41.554101,88260d846dfffff
3,S32246800175,2016-05-10T00:00:00.000,2666,Hy-Vee #2 / Ankeny,2510 SW State St,Ankeny,50023,"{'type': 'Point', 'coordinates': [-93.621824, ...",77,Polk,...,0.75,0.20,831,25,316,64,1878,-93.621824,41.705188,88260d9545fffff
4,S32349300041,2016-05-17T00:00:00.000,4209,Wal-Mart 5748 / Grimes,2150 East 1st St,Grimes,50111,"{'type': 'Point', 'coordinates': [-93.771698, ...",77,Polk,...,9.00,2.38,654,25,315,64,1878,-93.771698,41.688332,88260d8301fffff
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,S32344500098,2016-05-16T00:00:00.000,4829,Central City 2,1501 Michigan Ave,Des Moines,50314,"{'type': 'Point', 'coordinates': [-93.613739, ...",77,Polk,...,2.25,0.59,432,25,316,64,1878,-93.613739,41.605720,88260d8745fffff
1996,S32303000001,2016-05-18T00:00:00.000,2513,Hy-Vee Food Store #2 / Iowa City,812 S 1st Ave,Iowa City,52240,NaN,52,Johnson,...,7.50,1.98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1997,S32294500007,2016-05-12T00:00:00.000,5169,AV Superstop,"5120, NE 14th Street",Des Moines,50313,"{'type': 'Point', 'coordinates': [-93.60054000...",77,Polk,...,0.80,0.21,829,25,316,64,1878,-93.600540,41.653137,88260d95edfffff
1998,S32342800026,2016-05-16T00:00:00.000,2627,Hy-Vee Wine and Spirits #1,3424 Martin Luther King Jr Pkw,Des Moines,50310,"{'type': 'Point', 'coordinates': [-93.65129, 4...",77,Polk,...,1.50,0.40,684,25,316,64,1878,-93.651290,41.626668,88260d8287fffff
1999,S32324600024,2016-05-16T00:00:00.000,4856,Brothers Market / Lisbon,930 Commercial St,Lisbon,52253,"{'type': 'Point', 'coordinates': [-91.401062, ...",57,Linn,...,3.00,0.79,467,19,268,45,287,-91.401062,41.918663,88267419d7fffff

In [90]:
results_df['sale_bottles'] = results_df['sale_bottles'].astype(int)

In [91]:
results_df.dropna()[['sale_bottles', 'hex_id']].groupby('hex_id').sum().reset_index().to_csv('initial_hex.csv', index=False)

              hex_id sale_bottles
0    8c26010250441ff        12126
1    8c26010de4d45ff           10
2    8c2601156c5a9ff         6123
3    8c26015656863ff            3
4    8c260170cb53bff           12
..               ...          ...
601  8c275b7882e23ff          446
602  8c275b7891513ff         1262
603  8c275b78b7a1dff     12121212
604  8c275b78cae61ff           12
605  8c275b7ab2401ff          246

[606 rows x 2 columns]

In [85]:
results_df.dtypes

invoice_line_no                 object
date                            object
store                           object
name                            object
address                         object
city                            object
zipcode                         object
store_location                  object
county_number                   object
county                          object
category                        object
category_name                   object
vendor_no                       object
vendor_name                     object
itemno                          object
im_desc                         object
pack                            object
bottle_volume_ml                object
state_bottle_cost               object
state_bottle_retail             object
sale_bottles                    object
sale_dollars                    object
sale_liters                     object
sale_gallons                    object
:@computed_region_3r5t_5243     object
:@computed_region_wnea_7qqw     object
:@computed_region_i9mz_6gmt     object
:@computed_region_uhgg_e8y2     object
:@computed_region_e7ym_nrbf     object
long                           float64
lat                            float64
hex_id                          object
dtype: object

In [95]:
results_df['date'] = pd.to_datetime(results_df['date'])

In [96]:
results_df['date'].min()

Timestamp('2016-05-10 00:00:00')

In [97]:
results_df['date'].max()

Timestamp('2016-07-20 00:00:00')

In [94]:
results_df.dtypes

invoice_line_no                 object
date                            object
store                           object
name                            object
address                         object
city                            object
zipcode                         object
store_location                  object
county_number                   object
county                          object
category                        object
category_name                   object
vendor_no                       object
vendor_name                     object
itemno                          object
im_desc                         object
pack                            object
bottle_volume_ml                object
state_bottle_cost               object
state_bottle_retail             object
sale_bottles                     int64
sale_dollars                    object
sale_liters                     object
sale_gallons                    object
:@computed_region_3r5t_5243     object
:@computed_region_wnea_7qqw     object
:@computed_region_i9mz_6gmt     object
:@computed_region_uhgg_e8y2     object
:@computed_region_e7ym_nrbf     object
long                           float64
lat                            float64
hex_id                          object
dtype: object