In [13]:
from MyCreds.mycreds import IowaData
import pandas as pd
from sodapy import Socrata # < Unmaintained as of August 31, 2022, just in time for this project
import numpy as np
import h3
import requests

KEY = IowaData.api_key
SECRET = IowaData.api_key_secret
TOKEN = IowaData.app_token

liquor_sales_data_id = "m3tr-qhgy"
LIMIT = 24000000

In [8]:
# url = f"https://data.iowa.gov/resource/m3tr-qhgy.json?$$app_token={TOKEN}&$limit=20&$where=(vendor_name like '%10th Mountain%')"
url = f"https://data.iowa.gov/resource/m3tr-qhgy.json?$$app_token={TOKEN}&$query=select count(distinct(date))"
r = requests.get(url=url).json()
r

[{'count_distinct_date': '2706'}]

In [12]:

query = "select distinct(im_desc) limit 50000"
url = f"https://data.iowa.gov/resource/m3tr-qhgy.json?$$app_token={TOKEN}&$query={query}"
r = requests.get(url=url).json()
df = pd.DataFrame(r)
df

                              im_desc_1
0                        100 Anos Anejo
1              100 Anos Azul 100% Agave
2                           10 Cane Rum
3                 10th Mountain Bourbon
4      135° East Hyogo Japanese Dry Gin
...                                 ...
10786              Zu Bison Grass Vodka
10787        Zubrowka Bison Grass Vodka
10788                             Zwack
10789                      Zwack Unicum
10790                         Zyr Vodka

[10791 rows x 1 columns]

In [23]:
query = f"select date_extract_y(date), sum(sale_bottles), sum(sale_dollars), sum(sale_gallons) group by date_extract_y(date)"
url = f"https://data.iowa.gov/resource/m3tr-qhgy.json?$$app_token={TOKEN}&$query={query}"
r = requests.get(url=url).json()
df = pd.DataFrame(r)
df

   date_extract_y_date sum_sale_bottles sum_sale_dollars sum_sale_gallons
0                 2012         19917404     255203313.57       4954851.80
1                 2013         19934692     258103792.82       4907690.85
2                 2014         20666259     270587738.09       5061262.51
3                 2015         21572443     284328572.11       5182900.41
4                 2016         22670318     299447564.85       5363088.93
5                 2017         23990017     314530044.81       5573698.52
6                 2018         25435040     334216843.07       5779170.81
7                 2019         26844339     349220341.63       5878523.32
8                 2020         29841264     396663131.66       6381500.11
9                 2021         31203537     428123535.40       6524942.92
10                2022         19595559     271808726.50       4013250.76

In [24]:
df.plot()

TypeError: no numeric data to plot

In [25]:
df.dtypes

date_extract_y_date    object
sum_sale_bottles       object
sum_sale_dollars       object
sum_sale_gallons       object
dtype: object